Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

tsc:
  name: tsc
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

auto-claude: 5.1 - Add TypeScript type definitions for test results
  src/lib/services/upstream-service.ts
  src/types/api.ts
Due: prettier, eslint, tsc

auto-claude: 5.2 - Add comprehensive JSDoc comments to the testUpstreamConnection function and API endpoints
  src/app/api/admin/upstreams/[id]/test/route.ts
  src/app/api/admin/upstreams/test/route.ts
  src/lib/services/upstream-service.ts
Due: prettier, eslint, tsc

auto-claude: 6.1 - Test the endpoints manually with real OpenAI and A
  .auto-claude-status
Due: none

auto-claude: 6.2 - Run pnpm lint and pnpm exec tsc --noEmit to ensure code quality and type safety
  .auto-claude/specs/002-add-upstream-connection-test/implementation_plan.json
Due: prettier

Update build progress for subtask 6.2 completion
  .auto-claude/specs/002-add-upstream-connection-test/build-progress.txt
Due: none

auto-claude: 6.3 - Review all changes, ensure consistency with existing code patterns, clean up any debug logging, and verify the feature is ready for production use
  .auto-claude-status
  .auto-claude/specs/002-add-upstream-connection-test/build-progress.txt
  .auto-claude/specs/002-add-upstream-connection-test/implementation_plan.json
Due: prettier

fix: Address QA issues (qa-requested)
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  .gitignore
  src/app/api/admin/upstreams/[id]/test/route.ts
  src/app/api/admin/upstreams/test/route.ts
  src/lib/services/upstream-service.ts
  tests/unit/api/admin/upstreams/test.test.ts
  tests/unit/services/upstream-service.test.ts
Due: prettier, eslint, tsc

fix: Address QA issues (qa-requested)
  src/app/api/admin/upstreams/[id]/test/route.ts
  src/app/api/admin/upstreams/test/route.ts
  src/lib/services/upstream-service.ts
  tests/unit/api/admin/upstreams/test.test.ts
Due: prettier, eslint, tsc

fix: Remove .auto-claude spec files from version control (qa-requested)
  .auto-claude/specs/002-add-upstream-connection-test/build-progress.txt
  .auto-claude/specs/002-add-upstream-connection-test/implementation_plan.json
Due: prettier

fix: Address security vulnerabilities in upstream connection test (qa-requested)
  src/lib/services/upstream-service.ts
  tests/unit/services/upstream-service.test.ts
Due: prettier, eslint, tsc

fix: Fix Prettier formatting in upstream-service.ts (qa-requested)
  src/lib/services/upstream-service.ts
Due: prettier, eslint, tsc

Add Upstream Connection Test (#55)
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  .gitignore
  src/app/api/admin/upstreams/[id]/test/route.ts
  src/app/api/admin/upstreams/test/route.ts
  src/lib/services/upstream-service.ts
  src/types/api.ts
  tests/unit/api/admin/upstreams/test.test.ts
  tests/unit/services/upstream-service.test.ts
Due: prettier, eslint, tsc

chore: add .auto-claude/ to .gitignore
  .gitignore
Due: none

ci: add build-only option to deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: remove local claude artifacts
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
Due: prettier

auto-claude: 7.2 - API route tests covering: successful update, authe
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  tests/api/admin/keys/update.test.ts
  vitest.config.ts
Due: prettier, tsc

auto-claude: subtask-1-1 - Create TableSkeleton component with cassette futurism styling
  src/components/ui/table-skeleton.tsx
Due: prettier, eslint, tsc

auto-claude: 7.3 - Hook tests for mutation behavior, query invalidation, error handling
  .auto-claude-status
  tests/unit/hooks/use-api-keys.test.ts
Due: prettier, tsc

auto-claude: subtask-1-1 - Create TestUpstreamDialog component with success/failure/loading states
  src/components/admin/test-upstream-dialog.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-1-2 - Add tests for TableSkeleton component
  tests/components/table-skeleton.test.tsx
Due: prettier, tsc

auto-claude: 7.4 - Component tests for form validation, submission, create vs edit mode, upstream selection, date picker
  .auto-claude-status
  tests/components/create-key-dialog.test.tsx
  tests/components/key-form-dialog.test.tsx
Due: prettier, tsc

auto-claude: subtask-1-3 - Replace spinner with TableSkeleton in Keys page
  src/app/[locale]/(dashboard)/keys/page.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-2-1 - Add useTestUpstream mutation hook to use-upstreams
  src/hooks/use-upstreams.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-4 - Replace spinner with TableSkeleton in Logs page
  src/app/[locale]/(dashboard)/logs/page.tsx
Due: prettier, eslint, tsc

auto-claude: 7.5 - Update existing keys-table tests to cover edit button and dialog interaction
  tests/components/keys-table.test.tsx
Due: prettier, tsc

auto-claude: subtask-3-1 - Add test button column to UpstreamsTable component
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/components/admin/upstreams-table.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-1-5 - Replace spinner with TableSkeleton in Upstreams page
  src/app/[locale]/(dashboard)/upstreams/page.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-3-2 - Wire up test dialog and state in upstreams page
  src/app/[locale]/(dashboard)/upstreams/page.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-4-1 - Add English translations to en.json
  src/messages/en.json
Due: prettier

auto-claude: subtask-4-2 - Add Chinese translations to zh-CN.json
  src/messages/zh-CN.json
Due: prettier

auto-claude: subtask-5-1 - Create component tests for TestUpstreamDialog
  tests/components/test-upstream-dialog.test.tsx
Due: prettier, tsc

fix: add missing 'test' translation key to common namespace (qa-requested)
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier

fix: remove unused variable in test file (qa-requested)
  tests/components/test-upstream-dialog.test.tsx
Due: prettier, tsc

fix: format code with prettier (qa-requested)
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/hooks/use-upstreams.ts
Due: prettier, eslint, tsc

Add Upstream Testing Frontend UI (#58)
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/components/admin/test-upstream-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/hooks/use-upstreams.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/test-upstream-dialog.test.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-1-1 - Create upstream-ssrf-validator.ts module with SSRF protection functions
  src/lib/services/upstream-ssrf-validator.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-1 - Add tests for key expiration validation during authentication
  src/lib/services/key-manager.ts
  tests/unit/services/key-manager.test.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-2 - Create upstream-connection-tester.ts module with connection testing logic
  src/lib/services/upstream-connection-tester.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-2 - Add tests for encryption/decryption error scenarios
  tests/unit/services/key-manager.test.ts
Due: prettier, tsc

auto-claude: subtask-1-3 - Create upstream-crud.ts module with database CRUD operations
  src/lib/services/upstream-crud.ts
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (node_modules|\.next|drizzle)/
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
