Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

feat(cliproxy): 新增 CPA sidecar 的 Docker Compose 叠加文件
  docker-compose.cliproxy.yml
  openspec/changes/cliproxy-sidecar-deployment/tasks.md
Due: prettier

feat(cliproxy): .env.example 补充 CPA sidecar 环境变量
  .env.example
  openspec/changes/cliproxy-sidecar-deployment/tasks.md
Due: prettier

docs(cliproxy): 新增 CLIProxyAPI 部署指南
  docs/cliproxy-deployment.md
  openspec/changes/cliproxy-sidecar-deployment/tasks.md
Due: prettier

chore(cliproxy): cliproxy-sidecar-deployment 收尾验证
  openspec/changes/cliproxy-sidecar-deployment/tasks.md
Due: prettier

docs(openspec): 新增 cliproxy-admin-ui 变更提案
  openspec/changes/cliproxy-admin-ui/.openspec.yaml
  openspec/changes/cliproxy-admin-ui/design.md
  openspec/changes/cliproxy-admin-ui/proposal.md
  openspec/changes/cliproxy-admin-ui/specs/cliproxy-admin-ui/spec.md
  openspec/changes/cliproxy-admin-ui/tasks.md
Due: prettier

feat(cliproxy): 新增 CLIProxyAPI 实例管理界面
  openspec/changes/cliproxy-admin-ui/tasks.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-connection-result.tsx
  src/components/admin/cliproxy-connection-test-dialog.tsx
  src/components/admin/cliproxy-instance-form-dialog.tsx
  src/components/admin/cliproxy-instances-table.tsx
  src/components/admin/delete-cliproxy-instance-dialog.tsx
  src/components/admin/sidebar.tsx
  src/hooks/use-cliproxy.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/cliproxy.ts
  tests/components/cliproxy-instance-form-dialog.test.tsx
  tests/components/sidebar.test.tsx
  tests/unit/hooks/use-cliproxy.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 OAuth 账号管理界面
  openspec/changes/cliproxy-admin-ui/tasks.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-account-fields-dialog.tsx
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/components/admin/cliproxy-instances-table.tsx
  src/hooks/use-cliproxy.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/cliproxy.ts
  tests/components/cliproxy-account-fields-dialog.test.tsx
  tests/unit/hooks/use-cliproxy.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 OAuth 登录流程界面
  openspec/changes/cliproxy-admin-ui/design.md
  openspec/changes/cliproxy-admin-ui/specs/cliproxy-admin-ui/spec.md
  openspec/changes/cliproxy-admin-ui/tasks.md
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-oauth-login-dialog.tsx
  src/hooks/use-cliproxy.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/cliproxy.ts
  tests/components/cliproxy-oauth-login-dialog.test.tsx
  tests/unit/hooks/use-cliproxy.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 CLI OAuth 上游创建入口
  openspec/changes/cliproxy-admin-ui/tasks.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-account-upstream-dialog.tsx
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/components/admin/cliproxy-instances-table.tsx
  src/components/admin/cliproxy-pool-upstream-dialog.tsx
  src/hooks/use-cliproxy.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/cliproxy-pool-upstream-dialog.test.tsx
  tests/unit/hooks/use-cliproxy.test.ts
Due: prettier, eslint, tsc

chore(cliproxy): cliproxy-admin-ui 国际化补齐与收尾验证
  openspec/changes/cliproxy-admin-ui/tasks.md
Due: prettier

chore(openspec): archive cliproxy-integration changes
  openspec/changes/archive/2026-05-22-cliproxy-admin-ui/.openspec.yaml
  openspec/changes/archive/2026-05-22-cliproxy-admin-ui/design.md
  openspec/changes/archive/2026-05-22-cliproxy-admin-ui/proposal.md
  openspec/changes/archive/2026-05-22-cliproxy-admin-ui/specs/cliproxy-admin-ui/spec.md
  openspec/changes/archive/2026-05-22-cliproxy-admin-ui/tasks.md
  openspec/changes/archive/2026-05-22-cliproxy-instance-config/.openspec.yaml
  openspec/changes/archive/2026-05-22-cliproxy-instance-config/design.md
  openspec/changes/archive/2026-05-22-cliproxy-instance-config/proposal.md
  openspec/changes/archive/2026-05-22-cliproxy-instance-config/specs/cliproxy-instance-management/spec.md
  openspec/changes/archive/2026-05-22-cliproxy-instance-config/tasks.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-account-management/.openspec.yaml
  openspec/changes/archive/2026-05-22-cliproxy-oauth-account-management/design.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-account-management/proposal.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-account-management/specs/cliproxy-oauth-account-management/spec.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-account-management/tasks.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-pool-upstream/.openspec.yaml
  openspec/changes/archive/2026-05-22-cliproxy-oauth-pool-upstream/design.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-pool-upstream/proposal.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-pool-upstream/specs/cliproxy-oauth-pool-upstream/spec.md
  openspec/changes/archive/2026-05-22-cliproxy-oauth-pool-upstream/tasks.md
  openspec/changes/archive/2026-05-22-cliproxy-sidecar-deployment/.openspec.yaml
  openspec/changes/archive/2026-05-22-cliproxy-sidecar-deployment/design.md
  openspec/changes/archive/2026-05-22-cliproxy-sidecar-deployment/proposal.md
  openspec/changes/archive/2026-05-22-cliproxy-sidecar-deployment/specs/cliproxy-sidecar-deployment/spec.md
  openspec/changes/archive/2026-05-22-cliproxy-sidecar-deployment/tasks.md
  openspec/specs/cliproxy-admin-ui/spec.md
  openspec/specs/cliproxy-instance-management/spec.md
  openspec/specs/cliproxy-oauth-account-management/spec.md
  openspec/specs/cliproxy-oauth-pool-upstream/spec.md
  openspec/specs/cliproxy-sidecar-deployment/spec.md
Due: prettier

fix(cliproxy): sidecar 配置回退渲染改用纯 shell 字面量替换
  cliproxy/docker-entrypoint.sh
Due: none

fix(billing): 防止 snapshot 在 api_key/upstream 被删后写入失败
  src/lib/services/billing-cost-service.ts
  tests/unit/services/billing-cost-service.test.ts
Due: prettier, eslint, tsc

fix(billing): snapshot 写入加 FK 违例捕获重试，闭环 PR #168 残留的 race
  src/lib/services/billing-cost-service.ts
  tests/unit/services/billing-cost-service.test.ts
Due: prettier, eslint, tsc

fix(billing): 识别 drizzle 包装后的 FK 违例，补齐 PR #169 漏掉的真实形状
  src/lib/services/billing-cost-service.ts
  tests/unit/services/billing-cost-service.test.ts
Due: prettier, eslint, tsc

fix(request-logger): clamp duration_ms 到 INT4 上限，防止 reconcile 写入溢出
  src/lib/services/request-logger.ts
  tests/unit/services/request-logger-db.test.ts
Due: prettier, eslint, tsc

fix(billing): FK 违例探测兼容 constraint 字段名，补齐 PR #170 漏掉的兜底
  src/lib/services/billing-cost-service.ts
  tests/unit/services/billing-cost-service.test.ts
Due: prettier, eslint, tsc

fix(billing): detect FK violations from error message
  src/lib/services/billing-cost-service.ts
  tests/unit/services/billing-cost-service.test.ts
Due: prettier, eslint, tsc

chore(billing): 临时加 FK 违例诊断日志，定位 PG driver 实际约束名字段
  src/lib/services/billing-cost-service.ts
Due: prettier, eslint, tsc

fix(billing): detect FK violations from error message (#173)
  src/lib/services/billing-cost-service.ts
  tests/unit/services/billing-cost-service.test.ts
Due: prettier, eslint, tsc

fix(docs): bump vitepress to 2.0.0-alpha.17 to unblock vitest
  package.json
  pnpm-lock.yaml
Due: prettier

docs(readme): link to VitePress docs site (#167)
  README.md
  README_EN.md
Due: prettier

docs(deployment): fill phase 2 batch 1 (#167)
  docs/guide/deployment/cliproxy-sidecar.md
  docs/guide/deployment/env-reference.md
  docs/guide/deployment/overview.md
  docs/guide/deployment/quickstart.md
Due: prettier

docs(usage): fill phase 2 batch 2 (#167)
  docs/guide/usage/admin-overview.md
  docs/guide/usage/client-keys.md
  docs/guide/usage/first-upstream.md
  docs/guide/usage/invoke-models.md
Due: prettier

docs(usage): fix three review findings on PR #178 (#167)
  docs/guide/usage/client-keys.md
  docs/guide/usage/invoke-models.md
Due: prettier

docs(deployment): fix two review findings on PR #177 (#167)
  docs/guide/deployment/cliproxy-sidecar.md
  docs/guide/deployment/env-reference.md
Due: prettier

docs(architecture): fill phase 2 batch 3 (#167)
  docs/guide/architecture/overview.md
  docs/guide/architecture/request-lifecycle.md
  docs/guide/usage/invoke-models.md
Due: prettier

docs(architecture): fix four review findings on PR #180 (#167)
  docs/guide/architecture/overview.md
  docs/guide/architecture/request-lifecycle.md
  docs/guide/usage/invoke-models.md
Due: prettier

docs(architecture): fix two review findings on PR #180 round 2 (#167)
  docs/guide/architecture/request-lifecycle.md
  docs/guide/usage/invoke-models.md
Due: prettier

docs(usage): fill phase 2 batch 2 — 4 usage docs (#167)
  docs/guide/usage/circuit-breaker-config.md
  docs/guide/usage/cliproxy-first-time.md
  docs/guide/usage/load-balancing.md
  docs/guide/usage/model-routing.md
Due: prettier

docs(usage): fill cliproxy-modes + cliproxy-egress-proxy (#167)
  docs/guide/usage/cliproxy-egress-proxy.md
  docs/guide/usage/cliproxy-modes.md
Due: prettier

docs(usage): fix three review findings on PR #182 (#167)
  docs/guide/usage/cliproxy-egress-proxy.md
  docs/guide/usage/cliproxy-modes.md
Due: prettier

docs(usage): sync ASCII diagram with SSRF-limit warning (#167)
  docs/guide/usage/cliproxy-modes.md
Due: prettier

docs(usage): fix three review findings round 2 on PR #182 (#167)
  docs/guide/usage/cliproxy-first-time.md
  docs/guide/usage/cliproxy-modes.md
Due: prettier

docs(usage): fix two review findings round 3 on PR #182 (#167)
  docs/guide/usage/cliproxy-egress-proxy.md
  docs/guide/usage/cliproxy-modes.md
Due: prettier

docs(usage): cliproxy-modes + cliproxy-egress-proxy (#182)
  docs/guide/usage/cliproxy-egress-proxy.md
  docs/guide/usage/cliproxy-first-time.md
  docs/guide/usage/cliproxy-modes.md
Due: prettier

docs(usage): fill phase 2 final 3 — logs-stats + recording + troubleshooting (#167)
  docs/guide/usage/logs-stats.md
  docs/guide/usage/request-recording.md
  docs/guide/usage/troubleshooting.md
Due: prettier

docs(usage): fill phase 2 final 3 — logs-stats + recording + troubleshooting (#167) (#183)
  docs/guide/usage/logs-stats.md
  docs/guide/usage/request-recording.md
  docs/guide/usage/troubleshooting.md
Due: prettier

docs(architecture): fill phase 2 batch 6A — core mechanism trio (#167)
  docs/guide/architecture/database-schema.md
  docs/guide/architecture/failover-circuit.md
  docs/guide/architecture/upstream-model.md
Due: prettier
