Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

auto-claude: subtask-11-1 - Run all existing tests to ensure no regressions
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
  tests/unit/api/admin/upstreams/test.test.ts
Due: prettier, tsc

auto-claude: subtask-11-2 - Run type check and linting
  src/lib/services/health-checker.ts
  src/lib/services/load-balancer.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

auto-claude: subtask-11-4 - Manual verification and test fixes
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

fix: 修复 Code-Argus review 反馈的 5 个问题
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstream-group-dialog.tsx
  src/lib/services/health-checker.ts
  src/lib/services/load-balancer.ts
  src/lib/services/upstream-crud.ts
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

fix: 修复 CreateUpstreamButton 无法打开 Dialog 的问题
  src/components/admin/upstream-form-dialog.tsx
Due: prettier, eslint, tsc

Multi-Upstream Load Balancing (#68)
  drizzle/0002_nebulous_blue_blade.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  package-lock.json
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/app/api/admin/upstreams/groups/[id]/route.ts
  src/app/api/admin/upstreams/groups/route.ts
  src/app/api/admin/upstreams/health/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstream-group-dialog.tsx
  src/components/admin/upstream-health-status.tsx
  src/components/admin/upstreams-table.tsx
  src/hooks/use-upstream-groups.ts
  src/hooks/use-upstreams.ts
  src/lib/db/schema.ts
  src/lib/services/health-checker.ts
  src/lib/services/load-balancer.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-service.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
  tests/unit/api/admin/upstreams/test.test.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/health-checker.test.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

refactor(logs): improve token display with cache write/read and reasoning split
  package.json
  pnpm-lock.yaml
  src/components/admin/token-display.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/token-display.test.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-1-1 - Add search functionality to KeysTable component
  src/components/admin/keys-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

auto-claude: subtask-1-2 - Add filter controls to LogsTable component
  src/components/admin/logs-table.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-1-3 - Add internationalization strings for search and filter UI
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

auto-claude: subtask-2-1 - Write unit tests for KeysTable search logic
  tests/components/keys-table.test.tsx
Due: prettier, tsc

auto-claude: subtask-2-2 - Write unit tests for LogsTable filter logic
  tests/components/logs-table.test.tsx
Due: prettier, tsc

fix: Apply Prettier formatting to search/filter components (qa-requested)
  src/components/admin/keys-table.tsx
  src/components/admin/logs-table.tsx
Due: prettier, eslint, tsc

Add search and filter functionality to tables (#70)
  src/components/admin/keys-table.tsx
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/keys-table.test.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-1-1 - Remove unsafe generateApiKey() function from auth.ts
  src/lib/utils/auth.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-2 - Remove generateApiKey tests from auth.test.ts
  tests/unit/utils/auth.test.ts
Due: prettier, tsc

feat: add openspec onboarding skill for guided workflow cycle
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/bulk-archive.md
  .claude/commands/opsx/continue.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/ff.md
  .claude/commands/opsx/new.md
  .claude/commands/opsx/onboard.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/verify.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
  AGENTS.md
  CLAUDE.md
  openspec/AGENTS.md
  package-lock.json
Due: prettier

docs(openspec): add enhance-logs-upstream-routing change artifacts
  openspec/changes/enhance-logs-upstream-routing/.openspec.yaml
  openspec/changes/enhance-logs-upstream-routing/design.md
  openspec/changes/enhance-logs-upstream-routing/proposal.md
  openspec/changes/enhance-logs-upstream-routing/specs/upstream-routing-display/spec.md
  openspec/changes/enhance-logs-upstream-routing/specs/upstream-routing-logging/spec.md
  openspec/changes/enhance-logs-upstream-routing/tasks.md
Due: prettier

feat(db): add routing decision fields to request_logs schema
  drizzle/0003_bizarre_gambit.sql
  drizzle/meta/0003_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/enhance-logs-upstream-routing/tasks.md
  src/lib/db/schema.ts
  tests/unit/lib/schema.test.ts
Due: prettier, eslint, tsc

feat(logger): extend request logger with routing decision fields
  openspec/changes/enhance-logs-upstream-routing/tasks.md
  src/lib/services/request-logger.ts
  tests/unit/services/request-logger.test.ts
Due: prettier, eslint, tsc

feat(proxy): collect and log routing decision information
  openspec/changes/enhance-logs-upstream-routing/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  tests/unit/api/proxy-route.test.ts
Due: prettier, eslint, tsc

feat(admin-api): return upstream name and routing fields in logs API
  openspec/changes/enhance-logs-upstream-routing/tasks.md
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  tests/unit/services/request-logger.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat(types): update RequestLog type with routing fields and upstream_name
  openspec/changes/enhance-logs-upstream-routing/tasks.md
  src/types/api.ts
Due: prettier, eslint, tsc

feat(ui): enhance logs table with upstream info and failover details
  openspec/changes/enhance-logs-upstream-routing/tasks.md
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

docs(openspec): add auto-route-by-model change artifacts
  openspec/changes/auto-route-by-model/.openspec.yaml
  openspec/changes/auto-route-by-model/design.md
  openspec/changes/auto-route-by-model/proposal.md
  openspec/changes/auto-route-by-model/specs/model-based-routing/spec.md
  openspec/changes/auto-route-by-model/specs/model-mapping/spec.md
  openspec/changes/auto-route-by-model/specs/provider-type/spec.md
  openspec/changes/auto-route-by-model/tasks.md
Due: prettier

feat(model-based-routing): implement auto-route-by-model change
  drizzle/0004_neat_lady_mastermind.sql
  drizzle/meta/0004_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/auto-route-by-model/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/db/schema.ts
  src/lib/services/model-router.ts
  src/lib/services/request-logger.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-service.ts
  src/types/api.ts
  tests/unit/lib/schema.test.ts
  tests/unit/services/model-router.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

feat(model-based-routing): update Admin API and transformers
  openspec/changes/auto-route-by-model/tasks.md
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/lib/utils/api-transformers.ts
  tests/unit/api/proxy-route.test.ts
Due: prettier, eslint, tsc

test(admin-api): add tests for Admin API with new fields
  openspec/changes/auto-route-by-model/tasks.md
  tests/unit/api/admin/upstreams/crud.test.ts
Due: prettier, tsc

feat(admin-ui): add model-based routing fields to upstream forms
  openspec/changes/auto-route-by-model/tasks.md
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/components/ui/key-value-input.tsx
  src/components/ui/tag-input.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

feat(auto-route-by-model): complete Admin UI and verification tasks
  src/components/admin/logs-table.tsx
  src/components/ui/key-value-input.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/setup.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/model-router.test.ts
Due: prettier, eslint, tsc

docs(tasks): update task status for completed verification
  openspec/changes/auto-route-by-model/tasks.md
Due: prettier

feat(auto-route-by-model): complete migration and cleanup tasks
  CLAUDE.md
  drizzle/0005_set_default_provider_type.sql
  openspec/changes/auto-route-by-model/tasks.md
Due: prettier

security: upgrade Next.js to 16.1.6 to fix Dependabot vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier

test: fix failing tests after model-based routing changes
  tests/components/upstream-form-dialog.test.tsx
  tests/setup.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

docs(openspec): add optimize-failover change artifacts
  openspec/changes/optimize-failover/.openspec.yaml
  openspec/changes/optimize-failover/design.md
  openspec/changes/optimize-failover/proposal.md
  openspec/changes/optimize-failover/specs/circuit-breaker/spec.md
  openspec/changes/optimize-failover/specs/health-monitoring/spec.md
  openspec/changes/optimize-failover/specs/model-based-routing/spec.md
  openspec/changes/optimize-failover/specs/upstream-failover/spec.md
  openspec/changes/optimize-failover/tasks.md
Due: prettier

docs(design): resolve open questions for circuit breaker
  openspec/changes/optimize-failover/design.md
Due: prettier

docs(tasks): optimize task structure with quality gates and commit nodes
  openspec/changes/optimize-failover/tasks.md
Due: prettier

feat(failover): database - add circuit_breaker_states table
  drizzle/0005_daily_zaran.sql
  drizzle/meta/0005_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/optimize-failover/tasks.md
  src/lib/db/schema.ts
Due: prettier, eslint, tsc

feat(failover): circuit-breaker - implement core service with tests
  openspec/changes/optimize-failover/tasks.md
  src/lib/services/circuit-breaker.ts
  tests/unit/services/circuit-breaker.test.ts
Due: prettier, eslint, tsc

feat(failover): health-monitoring - integrate with circuit breaker
  openspec/changes/optimize-failover/tasks.md
  src/app/api/admin/health/route.ts
  src/lib/services/health-checker.ts
  tests/unit/services/health-checker.test.ts
Due: prettier, eslint, tsc
