Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

fix(cliproxy): 补齐认证文件上传的文件名参数
  openspec/changes/fix-cliproxy-auth-file-upload/.openspec.yaml
  openspec/changes/fix-cliproxy-auth-file-upload/design.md
  openspec/changes/fix-cliproxy-auth-file-upload/proposal.md
  openspec/changes/fix-cliproxy-auth-file-upload/specs/cliproxy-auth-file-operations/spec.md
  openspec/changes/fix-cliproxy-auth-file-upload/specs/cliproxy-sidecar-deployment/spec.md
  openspec/changes/fix-cliproxy-auth-file-upload/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/auth-files/route.ts
  src/components/admin/cliproxy-auth-file-upload-dialog.tsx
  src/hooks/use-cliproxy.ts
  src/lib/services/cliproxy-auth-account-service.ts
  src/lib/services/cliproxy-management-client.ts
  tests/components/cliproxy-auth-file-upload-dialog.test.tsx
  tests/unit/api/admin/cliproxy/auth-files.test.ts
  tests/unit/hooks/use-cliproxy.test.ts
  tests/unit/services/cliproxy-auth-account-service.test.ts
  tests/unit/services/cliproxy-management-client.test.ts
Due: prettier, eslint, tsc

fix(deploy): 升级主应用时保留可选 CLIProxyAPI 容器
  .github/workflows/deploy-personal.yml
  openspec/changes/fix-cliproxy-auth-file-upload/tasks.md
  tests/unit/deployment/personal-deploy-sidecar.test.ts
Due: prettier, tsc

docs(openspec): 归档认证文件上传修复及部署保护规范
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/.openspec.yaml
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/design.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/proposal.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/specs/cliproxy-auth-file-operations/spec.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/specs/cliproxy-sidecar-deployment/spec.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/tasks.md
  openspec/specs/cliproxy-auth-file-operations/spec.md
  openspec/specs/cliproxy-sidecar-deployment/spec.md
Due: prettier

docs(openspec): 清理上传规范末尾空行
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/specs/cliproxy-auth-file-operations/spec.md
Due: prettier

fix(cliproxy): 修复认证文件上传并保留部署 sidecar (#311)
  .github/workflows/deploy-personal.yml
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/.openspec.yaml
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/design.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/proposal.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/specs/cliproxy-auth-file-operations/spec.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/specs/cliproxy-sidecar-deployment/spec.md
  openspec/changes/archive/2026-09-23-fix-cliproxy-auth-file-upload/tasks.md
  openspec/specs/cliproxy-sidecar-deployment/spec.md
  src/app/api/admin/cliproxy/instances/[id]/auth-files/route.ts
  src/components/admin/cliproxy-auth-file-upload-dialog.tsx
  src/hooks/use-cliproxy.ts
  src/lib/services/cliproxy-auth-account-service.ts
  src/lib/services/cliproxy-management-client.ts
  tests/components/cliproxy-auth-file-upload-dialog.test.tsx
  tests/unit/api/admin/cliproxy/auth-files.test.ts
  tests/unit/deployment/personal-deploy-sidecar.test.ts
  tests/unit/hooks/use-cliproxy.test.ts
  tests/unit/services/cliproxy-auth-account-service.test.ts
  tests/unit/services/cliproxy-management-client.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 增加账号用量只读接口
  openspec/changes/cliproxy-account-usage-workbench/.openspec.yaml
  openspec/changes/cliproxy-account-usage-workbench/design.md
  openspec/changes/cliproxy-account-usage-workbench/proposal.md
  openspec/changes/cliproxy-account-usage-workbench/specs/cliproxy-account-usage/spec.md
  openspec/changes/cliproxy-account-usage-workbench/specs/cliproxy-admin-ui/spec.md
  openspec/changes/cliproxy-account-usage-workbench/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/usage/route.ts
  src/lib/services/cliproxy-account-usage-service.ts
  src/lib/services/cliproxy-management-client.ts
  src/types/cliproxy.ts
  tests/unit/api/admin/cliproxy/account-usage.test.ts
  tests/unit/services/cliproxy-account-usage-service.test.ts
  tests/unit/services/cliproxy-management-client.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 重组账号用量工作台
  openspec/changes/cliproxy-account-usage-workbench/tasks.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-account-detail-dialog.tsx
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/components/admin/cliproxy-instance-logs-panel.tsx
  src/components/admin/cliproxy-instances-table.tsx
  src/components/admin/cliproxy-linked-upstreams-panel.tsx
  src/hooks/use-cliproxy.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/cliproxy-account-detail-dialog.test.tsx
  tests/components/cliproxy-accounts-panel.test.tsx
  tests/components/cliproxy-accounts-table.test.tsx
  tests/e2e/application-cli.spec.ts
  tests/support/application-page-mocks.ts
  tests/unit/hooks/use-cliproxy.test.ts
Due: prettier, eslint, tsc

test(cliproxy): 完成工作台视觉与弹窗验收
  openspec/changes/cliproxy-account-usage-workbench/tasks.md
  src/components/admin/cliproxy-account-detail-dialog.tsx
  tests/e2e/application-overlays.spec.ts
Due: prettier, eslint, tsc

docs(cliproxy): 归档账号用量工作台规范
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/.openspec.yaml
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/design.md
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/proposal.md
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/specs/cliproxy-account-usage/spec.md
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/specs/cliproxy-admin-ui/spec.md
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/tasks.md
  openspec/specs/cliproxy-account-usage/spec.md
  openspec/specs/cliproxy-admin-ui/spec.md
Due: prettier

docs(cliproxy): 附上工作台桌面与移动端截图
  docs/images/cliproxy-workbench-desktop.png
  docs/images/cliproxy-workbench-detail-320.png
  docs/images/cliproxy-workbench-mobile.png
Due: none

chore(codex): 共享跨平台工作树安装配置
  .codex/environments/environment.toml
Due: none

fix(cliproxy): 调整单实例与多实例工作台比例
  docs/images/cliproxy-workbench-desktop.png
  docs/images/cliproxy-workbench-detail-320.png
  docs/images/cliproxy-workbench-mobile.png
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/design.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-instances-table.tsx
  tests/e2e/application-cli.spec.ts
Due: prettier, eslint, tsc

chore(codex): 共享跨平台工作树安装配置 (#314)
  .codex/environments/environment.toml
Due: none

fix(cliproxy): 扩展工作台并收敛实例选中样式
  docs/images/cliproxy-workbench-desktop.png
  docs/images/cliproxy-workbench-detail-320.png
  docs/images/cliproxy-workbench-mobile.png
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/design.md
  openspec/changes/archive/2026-09-23-cliproxy-account-usage-workbench/specs/cliproxy-admin-ui/spec.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/components/admin/cliproxy-instances-table.tsx
  tests/e2e/application-cli.spec.ts
Due: prettier, eslint, tsc

feat(cliproxy): 展示供应商实时剩余额度
  docs/images/cliproxy-provider-quota-dark.png
  docs/images/cliproxy-provider-quota-desktop.png
  docs/images/cliproxy-provider-quota-mobile.png
  openspec/changes/cliproxy-provider-quota/.openspec.yaml
  openspec/changes/cliproxy-provider-quota/design.md
  openspec/changes/cliproxy-provider-quota/proposal.md
  openspec/changes/cliproxy-provider-quota/specs/cliproxy-provider-quota/spec.md
  openspec/changes/cliproxy-provider-quota/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/[accountName]/provider-quota/route.ts
  src/components/admin/cliproxy-account-detail-dialog.tsx
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/hooks/use-cliproxy.ts
  src/lib/services/cliproxy-management-client.ts
  src/lib/services/cliproxy-provider-quota-service.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/cliproxy.ts
  tests/components/cliproxy-account-detail-dialog.test.tsx
  tests/components/cliproxy-accounts-table.test.tsx
  tests/e2e/application-cli.spec.ts
  tests/support/application-page-mocks.ts
  tests/unit/api/admin/cliproxy/provider-quota.test.ts
  tests/unit/services/cliproxy-management-client.test.ts
  tests/unit/services/cliproxy-provider-quota-service.test.ts
Due: prettier, eslint, tsc

docs(openspec): 归档 CLIProxy 供应商额度变更
  openspec/changes/archive/2026-09-23-cliproxy-provider-quota/.openspec.yaml
  openspec/changes/archive/2026-09-23-cliproxy-provider-quota/design.md
  openspec/changes/archive/2026-09-23-cliproxy-provider-quota/proposal.md
  openspec/changes/archive/2026-09-23-cliproxy-provider-quota/specs/cliproxy-provider-quota/spec.md
  openspec/changes/archive/2026-09-23-cliproxy-provider-quota/tasks.md
  openspec/specs/cliproxy-provider-quota/spec.md
Due: prettier

fix(cliproxy): 对齐工作台与额度骨架屏
  docs/images/cliproxy-loading-dark.png
  docs/images/cliproxy-loading-desktop.png
  docs/images/cliproxy-loading-mobile.png
  docs/images/cliproxy-loading-quota-mobile.png
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-account-detail-dialog.tsx
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-accounts-skeleton.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/components/admin/cliproxy-skeleton.tsx
  tests/e2e/application-cli.spec.ts
Due: prettier, eslint, tsc

fix(deps): 升级 Next 安全补丁并整理 Dependabot
  .github/dependabot.yml
  .github/workflows/dependabot-fix.yml
  package.json
  pnpm-lock.yaml
Due: prettier

fix(deps): 修补 js-yaml 与 sharp 安全覆盖版本
  package.json
  pnpm-lock.yaml
Due: prettier

fix(ci): 限制日常 Dependabot 版本更新范围
  .github/dependabot.yml
Due: none

docs(openspec): 归档已完成变更
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/.openspec.yaml
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/design.md
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/proposal.md
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/specs/api-key-management-workbench/spec.md
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/specs/api-key-rate-limiting/spec.md
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/specs/user-portal/spec.md
  openspec/changes/archive/2026-09-23-keys-rpm-tpm/tasks.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/.openspec.yaml
  openspec/changes/archive/2026-09-23-member-upstream-visibility/design.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/proposal.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/specs/admin-user-management/spec.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/specs/api-key-management-workbench/spec.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/specs/member-upstream-visibility/spec.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/specs/user-portal/spec.md
  openspec/changes/archive/2026-09-23-member-upstream-visibility/tasks.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/.openspec.yaml
  openspec/changes/archive/2026-09-23-rebuild-application-ui/design.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/proposal.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/specs/admin-console-layout-v2/spec.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/specs/application-ui-experience/spec.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/specs/frontend-visual-foundation-v2/spec.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/specs/user-auth/spec.md
  openspec/changes/archive/2026-09-23-rebuild-application-ui/tasks.md
  openspec/specs/admin-console-layout-v2/spec.md
  openspec/specs/admin-user-management/spec.md
  openspec/specs/api-key-management-workbench/spec.md
  openspec/specs/api-key-rate-limiting/spec.md
  openspec/specs/application-ui-experience/spec.md
  openspec/specs/frontend-visual-foundation-v2/spec.md
  openspec/specs/member-upstream-visibility/spec.md
  openspec/specs/user-auth/spec.md
  openspec/specs/user-portal/spec.md
Due: prettier

docs(openspec): plan upstream response model warning
  openspec/changes/upstream-response-model-warning/.openspec.yaml
  openspec/changes/upstream-response-model-warning/design.md
  openspec/changes/upstream-response-model-warning/proposal.md
  openspec/changes/upstream-response-model-warning/specs/request-log-workbench/spec.md
  openspec/changes/upstream-response-model-warning/tasks.md
Due: prettier

feat(proxy): capture upstream response models
  openspec/changes/upstream-response-model-warning/tasks.md
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

feat(proxy): log successful response model mismatches
  openspec/changes/upstream-response-model-warning/tasks.md
  src/app/api/proxy/v1/[...path]/proxy-non-stream-lifecycle.ts
  src/app/api/proxy/v1/[...path]/proxy-stream-lifecycle.ts
  src/types/api.ts
  tests/unit/api/proxy/proxy-stream-lifecycle.test.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

feat(logs): show upstream response model warnings
  openspec/changes/upstream-response-model-warning/tasks.md
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
  tests/e2e/logs-routing-decision.spec.ts
Due: prettier, eslint, tsc

test(logs): verify model warning on desktop and mobile
  .github/screenshots/model-warning-desktop.png
  .github/screenshots/model-warning-mobile.png
  openspec/changes/upstream-response-model-warning/tasks.md
Due: prettier

docs(openspec): archive response model warning change
  openspec/changes/archive/2026-09-23-upstream-response-model-warning/.openspec.yaml
  openspec/changes/archive/2026-09-23-upstream-response-model-warning/design.md
  openspec/changes/archive/2026-09-23-upstream-response-model-warning/proposal.md
  openspec/changes/archive/2026-09-23-upstream-response-model-warning/specs/request-log-workbench/spec.md
  openspec/changes/archive/2026-09-23-upstream-response-model-warning/tasks.md
  openspec/specs/request-log-workbench/spec.md
Due: prettier

chore(release): bump version to v1.18.0-beta.6
  package.json
Due: prettier

fix(deps): reuse Next TypeScript ESLint plugin
  eslint.config.mjs
Due: none

chore(release): 准备 v1.18.0 正式版
  package.json
Due: prettier

fix(deps): 修复 brace-expansion 两条传递依赖路径
  pnpm-lock.yaml
Due: none

fix(deps): 修复 brace-expansion 两条传递依赖路径 (#337)
  pnpm-lock.yaml
Due: none
