Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

docs(architecture): correct routing flow and probe side effects per codex review (#167)
  docs/guide/architecture/failover-circuit.md
  docs/guide/architecture/upstream-model.md
Due: prettier

docs(architecture): fill phase 2 batch 6B — integration & runtime trio (#167)
  docs/guide/architecture/cliproxy-integration.md
  docs/guide/architecture/i18n.md
  docs/guide/architecture/security.md
Due: prettier

docs(architecture): correct CPA deletion guard and external SSRF scope per codex review (#167)
  docs/guide/architecture/cliproxy-integration.md
Due: prettier

fix(proxy): 区分上游空内容流与首字超时
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/proxy-client.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

fix(ui,docs): 补齐新错误类的展示分支与故障转移文档
  docs/guide/architecture/failover-circuit.md
  src/components/admin/routing-decision-timeline.tsx
Due: prettier, eslint, tsc

feat(failure-rules): 错误类型枚举强校验 + 多选 UI
  src/app/api/admin/upstream-failure-rules/[id]/route.ts
  src/app/api/admin/upstream-failure-rules/route.ts
  src/app/api/admin/upstreams/[id]/failure-rules/route.ts
  src/components/admin/failover-error-type-multi-select.tsx
  src/components/admin/upstream-failure-rules-editor.tsx
  src/lib/constants/failover-error-types.ts
  src/lib/services/upstream-failure-rules.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/upstream-failure-rules-editor.test.tsx
  tests/unit/services/upstream-failure-rules.test.ts
Due: prettier, eslint, tsc

docs(deployment): fill phase 2 batch — github-actions + database + https-proxy (#167)
  docs/guide/deployment/database.md
  docs/guide/deployment/github-actions.md
  docs/guide/deployment/https-proxy.md
Due: prettier

docs(deployment): fill phase 2 final batch — persistence-backup + upgrade-rollback + troubleshooting (#167)
  docs/guide/deployment/persistence-backup.md
  docs/guide/deployment/troubleshooting.md
  docs/guide/deployment/upgrade-rollback.md
Due: prettier

docs(architecture): fill phase 2 batch 6C — testing + contributing + release (#167)
  docs/guide/architecture/contributing.md
  docs/guide/architecture/release.md
  docs/guide/architecture/testing.md
Due: prettier

docs: avoid VitePress Vue interpolation of GitHub Actions context (#167)
  docs/guide/architecture/release.md
  docs/guide/deployment/github-actions.md
Due: prettier

docs: align deployment/architecture docs with entrypoint migration & 卷挂载现状 (#167, #188)
  docs/guide/architecture/contributing.md
  docs/guide/deployment/database.md
  docs/guide/deployment/persistence-backup.md
  docs/guide/deployment/upgrade-rollback.md
Due: prettier

feat(ui): phase 3 嵌入指南 — helper text、空状态与对话框文案 (#167)
  src/components/admin/cliproxy-connection-result.tsx
  src/components/admin/cliproxy-instance-form-dialog.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/cliproxy-connection-result.test.tsx
  tests/components/cliproxy-instance-form-dialog.test.tsx
Due: prettier, eslint, tsc

fix(ui): correct noKeysDesc & soften pool upstream wording per review (#167)
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier

docs: drop stale Phase 1 scaffold copy & realign top entry pages (#167)
  README.md
  README_EN.md
  docs/en/index.md
  docs/index.md
Due: prettier

docs(readme): slim README down to overview+screenshots+quick start, link to docs site (#167)
  README.md
  README_EN.md
Due: prettier

docs(site): retain legacy long-form as 深度参考, fix doc count drift (#167)
  docs/.vitepress/config.ts
  docs/en/index.md
  docs/index.md
Due: prettier, tsc

docs(site): 移除面向访客的 issue 背景/规划引用 (#167)
  docs/guide/architecture/i18n.md
  docs/index.md
Due: prettier

docs(openspec): 新增 live-pulse-bar 变更提案
  openspec/changes/live-pulse-bar/.openspec.yaml
  openspec/changes/live-pulse-bar/design.md
  openspec/changes/live-pulse-bar/proposal.md
  openspec/changes/live-pulse-bar/specs/live-pulse-bar/spec.md
  openspec/changes/live-pulse-bar/tasks.md
Due: prettier

feat(live-pulse): 新增滚动窗口聚合器
  openspec/changes/live-pulse-bar/tasks.md
  src/lib/services/live-pulse-aggregator.ts
  tests/unit/services/live-pulse-aggregator.test.ts
Due: prettier, eslint, tsc

feat(live-pulse): 接入终态取样与网关健康快照拼装
  openspec/changes/live-pulse-bar/tasks.md
  src/lib/services/live-pulse-service.ts
  src/lib/services/request-logger.ts
  tests/unit/services/live-pulse-service.test.ts
Due: prettier, eslint, tsc

feat(live-pulse): 新增实时脉搏 SSE 端点与网关健康短缓存
  openspec/changes/live-pulse-bar/tasks.md
  src/app/api/admin/stats/live/route.ts
  src/lib/services/live-pulse-service.ts
  tests/unit/services/live-pulse-service.test.ts
Due: prettier, eslint, tsc

feat(live-pulse): 前端实时脉搏状态条全局常驻
  openspec/changes/live-pulse-bar/tasks.md
  src/app/[locale]/(dashboard)/layout.tsx
  src/components/admin/live-pulse-bar.tsx
  src/components/admin/mobile-pulse-strip.tsx
  src/components/admin/topbar.tsx
  src/hooks/use-live-pulse.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/providers/live-pulse-provider.tsx
  tests/components/admin/live-pulse-bar.test.tsx
Due: prettier, eslint, tsc

feat(live-pulse): 移动端合并为单条常驻顶栏
  openspec/changes/live-pulse-bar/tasks.md
  src/app/[locale]/(dashboard)/layout.tsx
  src/components/admin/mobile-pulse-strip.tsx
Due: prettier, eslint, tsc

test(live-pulse): 全量测试与构建校验通过
  openspec/changes/live-pulse-bar/tasks.md
  tests/components/dashboard-layout.test.tsx
Due: prettier, tsc

chore(openspec): 勾选 live-pulse-bar 全部任务
  openspec/changes/live-pulse-bar/tasks.md
Due: prettier

test(live-pulse): E2E 隔离 stats/live 连接
  tests/e2e/billing-tier-flow.spec.ts
  tests/e2e/logs-routing-decision.spec.ts
Due: prettier, tsc

fix(live-pulse): 处理合并前代码审查发现的问题
  src/components/admin/live-pulse-bar.tsx
  src/components/admin/topbar.tsx
  src/hooks/use-live-pulse.ts
  src/lib/services/live-pulse-service.ts
  src/lib/services/request-logger.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/unit/api/admin/stats/live/route.test.ts
  tests/unit/services/live-pulse-aggregator.test.ts
  tests/unit/services/live-pulse-service.test.ts
Due: prettier, eslint, tsc

feat(live-pulse): 状态条在顶栏居中显示
  src/app/[locale]/(dashboard)/layout.tsx
  src/components/admin/topbar.tsx
Due: prettier, eslint, tsc

chore(openspec): 归档 live-pulse-bar 变更
  openspec/changes/archive/2026-05-30-live-pulse-bar/.openspec.yaml
  openspec/changes/archive/2026-05-30-live-pulse-bar/design.md
  openspec/changes/archive/2026-05-30-live-pulse-bar/proposal.md
  openspec/changes/archive/2026-05-30-live-pulse-bar/specs/live-pulse-bar/spec.md
  openspec/changes/archive/2026-05-30-live-pulse-bar/tasks.md
  openspec/specs/live-pulse-bar/spec.md
Due: prettier

fix(dashboard): 统一消费金额格式，避免小额显示过长
  src/components/dashboard/chart-theme.ts
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/stats-cards.tsx
  tests/components/dashboard/leaderboard-section.test.tsx
  tests/components/dashboard/stats-cards.test.tsx
Due: prettier, eslint, tsc

docs(claude): 重写 CLAUDE.md 反映当前架构与命令
  CLAUDE.md
Due: prettier

docs: 全面同步过时文档至当前代码状态
  README.md
  README_EN.md
  docs/.vitepress/config.ts
  docs/circuit-breaker.md
  docs/guide/architecture/cliproxy-integration.md
  docs/guide/architecture/database-schema.md
  docs/guide/architecture/failover-circuit.md
  docs/guide/architecture/i18n.md
  docs/guide/architecture/overview.md
  docs/guide/architecture/release.md
  docs/guide/architecture/request-lifecycle.md
  docs/guide/architecture/security.md
  docs/guide/architecture/upstream-model.md
  docs/guide/deployment/database.md
  docs/guide/deployment/env-reference.md
  docs/guide/deployment/github-actions.md
  docs/guide/deployment/https-proxy.md
  docs/guide/deployment/overview.md
  docs/guide/deployment/quickstart.md
  docs/guide/deployment/troubleshooting.md
  docs/guide/deployment/upgrade-rollback.md
  docs/guide/usage/admin-overview.md
  docs/guide/usage/circuit-breaker-config.md
  docs/guide/usage/client-keys.md
  docs/guide/usage/cliproxy-egress-proxy.md
  docs/guide/usage/cliproxy-modes.md
  docs/guide/usage/first-upstream.md
  docs/guide/usage/invoke-models.md
  docs/guide/usage/load-balancing.md
  docs/guide/usage/logs-stats.md
  docs/guide/usage/model-routing.md
  docs/guide/usage/request-recording.md
  docs/guide/usage/troubleshooting.md
  openspec/project.md
Due: prettier, tsc

docs: 统一 AI 助理文档为单一来源（AGENTS.md 正文，CLAUDE.md 导入）
  AGENTS.md
  CLAUDE.md
Due: prettier

docs(openspec): 提案 CLIProxyAPI 管理功能增强
  openspec/changes/enhance-cliproxy-management/.openspec.yaml
  openspec/changes/enhance-cliproxy-management/design.md
  openspec/changes/enhance-cliproxy-management/proposal.md
  openspec/changes/enhance-cliproxy-management/specs/cliproxy-admin-ui/spec.md
  openspec/changes/enhance-cliproxy-management/specs/cliproxy-auth-file-operations/spec.md
  openspec/changes/enhance-cliproxy-management/specs/cliproxy-instance-logs/spec.md
  openspec/changes/enhance-cliproxy-management/specs/cliproxy-oauth-account-management/spec.md
  openspec/changes/enhance-cliproxy-management/specs/cliproxy-oauth-callback/spec.md
  openspec/changes/enhance-cliproxy-management/tasks.md
Due: prettier

feat(cliproxy): 扩展管理 API 客户端的认证文件、回调与日志能力
  openspec/changes/enhance-cliproxy-management/tasks.md
  src/components/admin/cliproxy-oauth-login-dialog.tsx
  src/components/admin/cliproxy-pool-upstream-dialog.tsx
  src/hooks/use-cliproxy.ts
  src/lib/services/cliproxy-management-client.ts
  src/lib/services/cliproxy-upstream-preset.ts
  src/types/cliproxy.ts
  tests/unit/services/cliproxy-management-client.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 后端服务层扩展认证文件、回调、日志与关联上游能力
  .claude/scheduled_tasks.lock
  openspec/changes/enhance-cliproxy-management/tasks.md
  src/lib/services/cliproxy-auth-account-service.ts
  src/lib/services/cliproxy-instance-logs-service.ts
  src/lib/services/cliproxy-linked-upstreams-service.ts
  src/lib/services/cliproxy-oauth-login-service.ts
  tests/unit/services/cliproxy-auth-account-service.test.ts
  tests/unit/services/cliproxy-instance-logs-service.test.ts
  tests/unit/services/cliproxy-linked-upstreams-service.test.ts
  tests/unit/services/cliproxy-oauth-login-service.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 6 个 admin API 路由（认证文件、回调、日志、关联上游、账号模型）
  .claude/scheduled_tasks.lock
  .gitignore
  openspec/changes/enhance-cliproxy-management/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/[accountName]/models/route.ts
  src/app/api/admin/cliproxy/instances/[id]/auth-files/[name]/route.ts
  src/app/api/admin/cliproxy/instances/[id]/auth-files/route.ts
  src/app/api/admin/cliproxy/instances/[id]/linked-upstreams/route.ts
  src/app/api/admin/cliproxy/instances/[id]/logs/route.ts
  src/app/api/admin/cliproxy/instances/[id]/oauth-callback/route.ts
  tests/unit/api/admin/cliproxy/auth-account-models.test.ts
  tests/unit/api/admin/cliproxy/auth-files.test.ts
  tests/unit/api/admin/cliproxy/linked-upstreams.test.ts
  tests/unit/api/admin/cliproxy/logs.test.ts
  tests/unit/api/admin/cliproxy/oauth-callback.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增前端 hooks 与全量国际化文案
  openspec/changes/enhance-cliproxy-management/tasks.md
  src/hooks/use-cliproxy.ts
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

feat(cliproxy): 新增 6 个前端组件并整合到管理页面
  openspec/changes/enhance-cliproxy-management/tasks.md
  src/app/[locale]/(dashboard)/system/cliproxy/page.tsx
  src/components/admin/cliproxy-account-detail-dialog.tsx
  src/components/admin/cliproxy-account-models-dialog.tsx
  src/components/admin/cliproxy-accounts-panel.tsx
  src/components/admin/cliproxy-accounts-table.tsx
  src/components/admin/cliproxy-auth-file-upload-dialog.tsx
  src/components/admin/cliproxy-delete-auth-file-dialog.tsx
  src/components/admin/cliproxy-instance-logs-panel.tsx
  src/components/admin/cliproxy-instances-table.tsx
  src/components/admin/cliproxy-linked-upstreams-panel.tsx
  src/components/admin/cliproxy-oauth-login-dialog.tsx
  tests/components/cliproxy-account-detail-dialog.test.tsx
  tests/components/cliproxy-account-models-dialog.test.tsx
  tests/components/cliproxy-auth-file-upload-dialog.test.tsx
  tests/components/cliproxy-instance-logs-panel.test.tsx
  tests/components/cliproxy-linked-upstreams-panel.test.tsx
  tests/components/cliproxy-oauth-login-dialog.test.tsx
Due: prettier, eslint, tsc

fix(cliproxy): 修复 review 发现的功能、类型与路由加固问题
  src/app/api/admin/cliproxy/instances/[id]/auth-files/[name]/route.ts
  src/app/api/admin/cliproxy/instances/[id]/auth-files/route.ts
  src/app/api/admin/cliproxy/instances/[id]/oauth-callback/route.ts
  src/app/api/admin/cliproxy/instances/[id]/pool-upstreams/route.ts
  src/components/admin/cliproxy-delete-auth-file-dialog.tsx
  src/components/admin/cliproxy-instances-table.tsx
  src/components/admin/cliproxy-linked-upstreams-panel.tsx
  src/hooks/use-cliproxy.ts
  src/lib/services/cliproxy-instance-crud.ts
  src/lib/services/cliproxy-instance-logs-service.ts
  src/lib/services/cliproxy-linked-upstreams-service.ts
  src/lib/services/cliproxy-management-client.ts
  src/lib/services/cliproxy-oauth-login-service.ts
  src/lib/services/cliproxy-upstream-preset.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/cliproxy.ts
Due: prettier, eslint, tsc
