Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, prettier-web, eslint-web, tsc-web

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # Python (apps/api)
  # ============================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  - repo: local
    hooks:
      - id: pyright
        name: pyright (api)
        entry: bash -c 'cd apps/api && uv run pyright'
        language: system
        files: ^apps/api/.*\.py$
        pass_filenames: false

  # ============================================================
  # TypeScript (apps/web)
  # ============================================================
  - repo: local
    hooks:
      - id: prettier-web
        name: prettier (web)
        entry: bash -c 'cd apps/web && pnpm exec prettier --write "${@#apps/web/}"' --
        language: system
        files: ^apps/web/.*\.(js|jsx|ts|tsx|css|json|md)$
        exclude: ^apps/web/(node_modules|\.next)/

      - id: eslint-web
        name: eslint (web)
        entry: bash -c 'cd apps/web && pnpm exec eslint --fix "${@#apps/web/}"' --
        language: system
        files: ^apps/web/src/.*\.(js|jsx|ts|tsx)$

      - id: tsc-web
        name: tsc (web)
        entry: bash -c 'cd apps/web && pnpm exec tsc --noEmit'
        language: system
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false

fix(security): resolve GitHub code scanning alerts
  .github/workflows/code-argus.yml
  .github/workflows/lint.yml
Due: none

refactor(security): implement workflow_run pattern for code-argus
  .github/workflows/code-argus-comment.yml
  .github/workflows/code-argus-publish.yml
  .github/workflows/code-argus.yml
Due: none

chore: add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

fix: remove empty ignore field in dependabot.yml
  .github/dependabot.yml
Due: none

fix(code-argus): skip Dependabot PRs to avoid permission errors
  .github/workflows/code-argus.yml
Due: none

ci: add workflow to fix Dependabot pnpm lockfile issues
  .github/workflows/dependabot-fix.yml
Due: none

fix(ci): allow Dependabot PRs to regenerate pnpm lockfile
  .github/workflows/lint.yml
Due: none

style(web): format code with prettier
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
Due: prettier-web, eslint-web, tsc-web

fix(api): add allow_key_reveal to Settings class
  apps/api/.env.example
  apps/api/app/api/routes/admin.py
  apps/api/app/core/config.py
Due: pyright

fix(code-argus): skip review for closed PRs
  .github/workflows/code-argus.yml
Due: none

fix(agent): skip processing for closed issues
  .github/workflows/claude-codex-agent.yml
Due: none

fix(api): add allow_key_reveal to Settings class (#24)
  apps/api/.env.example
  apps/api/app/api/routes/admin.py
  apps/api/app/core/config.py
Due: pyright

docs: add GitHub badges to README
  README.md
Due: none

ci: add test workflow with Codecov integration
  .github/workflows/test.yml
  README.md
  apps/web/vitest.config.ts
  codecov.yml
Due: prettier-web, tsc-web

fix: add @vitest/coverage-v8 dependency
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier-web

fix: update tests to match current business logic
  apps/api/tests/api/test_proxy.py
  apps/api/tests/test_admin_api.py
  apps/api/tests/test_key_manager.py
Due: pyright

test: demo codecov PR comment
  apps/api/app/__init__.py
Due: pyright

fix: always post Codecov PR comment
  codecov.yml
Due: none

fix: only post Codecov comment when coverage changes
  codecov.yml
Due: none

fix(web): resolve filter error when deleting upstream
  apps/web/src/hooks/use-upstreams.ts
  apps/web/tests/unit/hooks/use-upstreams.test.ts
Due: prettier-web, eslint-web, tsc-web

fix(web): resolve filter error when deleting upstream (#26)
  apps/web/src/hooks/use-upstreams.ts
  apps/web/tests/unit/hooks/use-upstreams.test.ts
Due: prettier-web, eslint-web, tsc-web

feat(ci): integrate Codecov Test Analytics
  .github/workflows/test.yml
  codecov.yml
Due: none

docs: enhance CLAUDE.md with development guide and architecture overview
  CLAUDE.md
Due: none

fix(logging): unify log format by intercepting SQLAlchemy and HTTP client loggers
  .gitattributes
  apps/api/app/core/logging.py
  apps/api/tests/core/test_logging.py
Due: pyright

chore: use local ruff hooks to ensure version consistency with CI
  .pre-commit-config.yaml
Due: none

Update apps/api/app/core/logging.py
  apps/api/app/core/logging.py
Due: pyright

Update apps/api/tests/core/test_logging.py
  apps/api/tests/core/test_logging.py
Due: pyright

fix(logging): 统一日志格式，拦截 SQLAlchemy 和 HTTP 客户端日志 (#27)
  .gitattributes
  .pre-commit-config.yaml
  apps/api/app/core/logging.py
  apps/api/tests/core/test_logging.py
Due: pyright

fix(ci): upgrade claude-code-action to v1 and add actionlint
  .github/workflows/claude-codex-agent.yml
  .github/workflows/lint.yml
Due: none

fix(ci): disable shellcheck in actionlint to avoid info-level warnings
  .github/workflows/lint.yml
Due: none

fix(ci): broaden Claude agent permissions for full tool access
  .github/workflows/claude-codex-agent.yml
Due: none

fix(ci): expand Claude agent permissions with explicit MCP servers
  .github/workflows/claude-codex-agent.yml
Due: none

fix(ci): enforce agent to execute gh pr create command
  .github/workflows/claude-codex-agent.yml
Due: none

fix(ci): add stronger constraints for gh pr create execution
  .github/workflows/claude-codex-agent.yml
Due: none

refactor(ci): require /approve for all fixes, add deep analysis in triage
  .github/ISSUE_WORKFLOW.md
  .github/workflows/claude-codex-agent.yml
Due: none

chore(ci): disable Claude co-author attribution in commits
  .github/workflows/claude-codex-agent.yml
Due: none
