Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

test: harden live request log async coverage specs
  tests/unit/api/proxy/route.test.ts
  tests/unit/hooks/use-request-log-live.test.ts
Due: prettier, tsc

feat: add live request log status updates
  docs/circuit-breaker.md
  openspec/changes/request-log-live-status/.openspec.yaml
  openspec/changes/request-log-live-status/design.md
  openspec/changes/request-log-live-status/proposal.md
  openspec/changes/request-log-live-status/specs/performance-metrics-collection/spec.md
  openspec/changes/request-log-live-status/specs/request-log-live-status/spec.md
  openspec/changes/request-log-live-status/specs/routing-failover-observability/spec.md
  openspec/changes/request-log-live-status/tasks.md
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/api/admin/logs/live/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/hooks/use-request-log-live.ts
  src/lib/services/request-log-live-updates.ts
  src/lib/services/request-logger.ts
  src/lib/services/stats-service.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/admin/routing-decision-display.test.tsx
  tests/components/logs-table.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/hooks/use-request-log-live.test.ts
  tests/unit/services/request-logger-db.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

refactor: refresh dashboard loading states
  src/components/dashboard/dashboard-loading.tsx
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/stats-cards.tsx
  src/components/dashboard/usage-chart.tsx
  tests/components/dashboard/leaderboard-section.test.tsx
  tests/components/dashboard/stats-cards.test.tsx
  tests/components/dashboard/usage-chart.test.tsx
Due: prettier, eslint, tsc

feat: enhance request log page animations
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/globals.css
  src/components/admin/logs-table.tsx
  src/components/admin/refresh-interval-select.tsx
  tests/components/logs-table.test.tsx
  tests/components/refresh-interval-select.test.tsx
Due: prettier, eslint, tsc

refactor(ui): clean up outdated components and standardize shadcn/ui usage
  next.config.ts
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/[locale]/(dashboard)/system/header-compensation/page.tsx
  src/components/admin/circuit-breaker-dialog.tsx
  src/components/admin/route-capability-badges.tsx
  src/components/admin/routing-decision-display.tsx
  src/components/admin/sidebar.tsx
  src/components/admin/upstream-health-status.tsx
  src/components/ui/alert.tsx
  src/components/ui/error-state.tsx
  src/components/ui/scanline-loader.tsx
  src/components/ui/separator.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/terminal/index.ts
  src/components/ui/terminal/terminal-header.tsx
  tests/components/admin/routing-decision-display.test.tsx
  tests/components/ui/error-state.test.tsx
  tests/components/ui/scanline-loader.test.tsx
  tests/components/ui/separator.test.tsx
  tests/components/ui/terminal/reduced-motion.test.tsx
  tests/components/ui/terminal/terminal-header.test.tsx
Due: prettier, eslint, tsc

feat: add doc linting for public backend APIs
  .github/workflows/lint.yml
  .github/workflows/test.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/api/admin/circuit-breakers/[id]/force-close/route.ts
  src/app/api/admin/circuit-breakers/[id]/force-open/route.ts
  src/app/api/admin/circuit-breakers/[id]/route.ts
  src/app/api/admin/compensation-rules/[id]/route.ts
  src/app/api/admin/logs/live/route.ts
  src/app/api/admin/upstreams/[id]/test/route.ts
  src/app/api/health/route.ts
  src/app/api/mock/[...path]/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/billing-management-service.ts
  src/lib/services/billing-price-service.ts
  src/lib/services/circuit-breaker.ts
  src/lib/services/compensation-service.ts
  src/lib/services/health-checker.ts
  src/lib/services/key-manager.ts
  src/lib/services/load-balancer.ts
  src/lib/services/proxy-client.ts
  src/lib/services/request-log-live-updates.ts
  src/lib/services/request-logger.ts
  src/lib/services/route-capability-matcher.ts
  src/lib/services/route-capability-migration.ts
  src/lib/services/session-affinity.ts
  src/lib/services/traffic-recorder.ts
  src/lib/services/upstream-connection-tester.ts
  src/lib/utils/logger.ts
Due: prettier, eslint, tsc

chore: add .sisyphus/ to .gitignore for opencode
  .gitignore
Due: none

chore(tsconfig): exclude external schema fixtures from typecheck
  tsconfig.json
Due: prettier

feat(billing): add tiered billing backend foundation
  drizzle/0020_condemned_betty_brant.sql
  drizzle/meta/0020_snapshot.json
  drizzle/meta/_journal.json
  src/app/api/admin/billing/tier-rules/[id]/route.ts
  src/app/api/admin/billing/tier-rules/route.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  src/lib/services/billing-cost-service.ts
  src/lib/services/billing-management-service.ts
  src/lib/services/billing-price-service.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/unit/api/admin/billing/prices/route.test.ts
  tests/unit/api/admin/billing/recent/route.test.ts
  tests/unit/api/admin/billing/tier-rules/[id]/route.test.ts
  tests/unit/api/admin/billing/tier-rules/route.test.ts
  tests/unit/services/billing-cost-service.test.ts
  tests/unit/services/billing-price-service.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat(billing): surface tier pricing in billing admin
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/hooks/use-billing.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/e2e/billing-tier-flow.spec.ts
  tests/unit/hooks/use-billing.test.ts
Due: prettier, eslint, tsc

feat(logs): explain matched tier billing details
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

fix(billing): keep tier badge visible when all rules are disabled
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/lib/services/billing-price-service.ts
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

fix(billing): shorten price input placeholders to prevent truncation
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier

test(billing): stabilize tier flow e2e selectors
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  tests/e2e/billing-tier-flow.spec.ts
Due: prettier, eslint, tsc

feat(billing): add tiered billing support
  .gitignore
  drizzle/0020_condemned_betty_brant.sql
  drizzle/meta/0020_snapshot.json
  drizzle/meta/_journal.json
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/api/admin/billing/tier-rules/[id]/route.ts
  src/app/api/admin/billing/tier-rules/route.ts
  src/components/admin/logs-table.tsx
  src/hooks/use-billing.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  src/lib/services/billing-cost-service.ts
  src/lib/services/billing-management-service.ts
  src/lib/services/billing-price-service.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/e2e/billing-tier-flow.spec.ts
  tests/unit/api/admin/billing/prices/route.test.ts
  tests/unit/api/admin/billing/recent/route.test.ts
  tests/unit/api/admin/billing/tier-rules/[id]/route.test.ts
  tests/unit/api/admin/billing/tier-rules/route.test.ts
  tests/unit/hooks/use-billing.test.ts
  tests/unit/services/billing-cost-service.test.ts
  tests/unit/services/billing-price-service.test.ts
  tests/unit/utils/api-transformers.test.ts
  tsconfig.json
Due: prettier, eslint, tsc

feat(dashboard): comprehensive dashboard stats and leaderboard overhaul
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/api/admin/stats/timeseries/route.ts
  src/components/admin/logs-table.tsx
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/stats-cards.tsx
  src/components/dashboard/time-range-selector.tsx
  src/components/dashboard/usage-chart.tsx
  src/hooks/use-dashboard-stats.ts
  src/lib/services/stats-service.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/dashboard/leaderboard-section.test.tsx
  tests/components/dashboard/stats-cards.test.tsx
  tests/components/dashboard/time-range-selector.test.tsx
  tests/unit/api/admin/stats/timeseries/route.test.ts
  tests/unit/services/stats-service.test.ts
Due: prettier, eslint, tsc

fix(dashboard): polish tooltip visibility, layout alignment, and calendar i18n
  src/components/dashboard/chart-theme.ts
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/time-range-selector.tsx
  src/components/dashboard/usage-chart.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/dashboard/time-range-selector.test.tsx
Due: prettier, eslint, tsc

fix(dashboard): polish leaderboard visuals and fix stat card overlap
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/stats-cards.tsx
Due: prettier, eslint, tsc

fix(dashboard): address review feedback on custom date range
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/api/admin/stats/leaderboard/route.ts
  src/components/admin/logs-table.tsx
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/time-range-selector.tsx
  src/hooks/use-dashboard-stats.ts
  src/lib/services/stats-service.ts
  tests/unit/api/admin/stats/leaderboard/route.test.ts
Due: prettier, eslint, tsc

propose split cli route capabilities
  openspec/changes/split-cli-route-capabilities/.openspec.yaml
  openspec/changes/split-cli-route-capabilities/design.md
  openspec/changes/split-cli-route-capabilities/proposal.md
  openspec/changes/split-cli-route-capabilities/specs/path-based-routing/spec.md
  openspec/changes/split-cli-route-capabilities/specs/session-affinity/spec.md
  openspec/changes/split-cli-route-capabilities/specs/session-header-compensation/spec.md
  openspec/changes/split-cli-route-capabilities/specs/upstream-route-capabilities/spec.md
  openspec/changes/split-cli-route-capabilities/tasks.md
Due: prettier

feat: split CLI route capabilities
  openspec/changes/split-cli-route-capabilities/tasks.md
  src/app/[locale]/(dashboard)/system/header-compensation/page.tsx
  src/app/api/admin/compensation-rules/[id]/route.ts
  src/app/api/admin/compensation-rules/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/components/admin/route-capability-badges.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/lib/route-capabilities.ts
  src/lib/services/compensation-service.ts
  src/lib/services/route-capability-matcher.ts
  src/lib/services/route-capability-migration.ts
  src/lib/services/session-affinity.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/route-capability-badges.test.tsx
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/api/admin/compensation-rules/route.test.ts
  tests/unit/api/admin/upstreams/crud.test.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/lib/route-capabilities.test.ts
  tests/unit/services/compensation-service.test.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/route-capability-matcher.test.ts
  tests/unit/services/route-capability-migration.test.ts
  tests/unit/services/session-affinity.test.ts
Due: prettier, eslint, tsc

feat: split CLI route capabilities (#103)
  openspec/changes/split-cli-route-capabilities/.openspec.yaml
  openspec/changes/split-cli-route-capabilities/design.md
  openspec/changes/split-cli-route-capabilities/proposal.md
  openspec/changes/split-cli-route-capabilities/specs/path-based-routing/spec.md
  openspec/changes/split-cli-route-capabilities/specs/session-affinity/spec.md
  openspec/changes/split-cli-route-capabilities/specs/session-header-compensation/spec.md
  openspec/changes/split-cli-route-capabilities/specs/upstream-route-capabilities/spec.md
  openspec/changes/split-cli-route-capabilities/tasks.md
  src/app/[locale]/(dashboard)/system/header-compensation/page.tsx
  src/app/api/admin/compensation-rules/[id]/route.ts
  src/app/api/admin/compensation-rules/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/components/admin/route-capability-badges.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/lib/route-capabilities.ts
  src/lib/services/compensation-service.ts
  src/lib/services/route-capability-matcher.ts
  src/lib/services/route-capability-migration.ts
  src/lib/services/session-affinity.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/route-capability-badges.test.tsx
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/api/admin/compensation-rules/route.test.ts
  tests/unit/api/admin/upstreams/crud.test.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/lib/route-capabilities.test.ts
  tests/unit/services/compensation-service.test.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/route-capability-matcher.test.ts
  tests/unit/services/route-capability-migration.test.ts
  tests/unit/services/session-affinity.test.ts
Due: prettier, eslint, tsc

Add OpenSpec change for request log thinking config
  openspec/changes/request-log-thinking-config/.openspec.yaml
  openspec/changes/request-log-thinking-config/design.md
  openspec/changes/request-log-thinking-config/proposal.md
  openspec/changes/request-log-thinking-config/specs/provider-usage-normalization/spec.md
  openspec/changes/request-log-thinking-config/specs/request-thinking-config-display/spec.md
  openspec/changes/request-log-thinking-config/specs/request-thinking-config-logging/spec.md
  openspec/changes/request-log-thinking-config/tasks.md
Due: prettier

feat: log request thinking config
  drizzle/0021_abnormal_emma_frost.sql
  drizzle/meta/0021_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/request-log-thinking-config/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/lib/utils/request-thinking-config.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/lib/schema.test.ts
  tests/unit/services/request-logger-db.test.ts
  tests/unit/utils/api-transformers.test.ts
  tests/unit/utils/request-thinking-config.test.ts
Due: prettier, eslint, tsc

fix: restore ci formatting checks
  src/components/admin/logs-table.tsx
  src/lib/services/request-logger.ts
  src/lib/utils/request-thinking-config.ts
  tests/unit/services/request-logger-db.test.ts
  tests/unit/utils/request-thinking-config.test.ts
Due: prettier, eslint, tsc

feat(logs): persist and display reasoning effort
  drizzle/0022_living_george_stacy.sql
  drizzle/meta/0022_snapshot.json
  drizzle/meta/_journal.json
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/lib/schema.test.ts
  tests/unit/services/request-logger-db.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

fix(logs): dedupe inline thinking badges
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

Refine request log thinking badges layout
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

Restructure request log desktop details layout
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

Fix CI lint and format checks
  src/components/admin/logs-table.tsx
  src/lib/services/billing-price-service.ts
  src/lib/services/compensation-service.ts
  src/lib/services/route-capability-matcher.ts
Due: prettier, eslint, tsc

Polish log detail expansion interactions
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

Archive request-log-thinking-config change
  openspec/changes/archive/2026-03-17-request-log-thinking-config/.openspec.yaml
  openspec/changes/archive/2026-03-17-request-log-thinking-config/design.md
  openspec/changes/archive/2026-03-17-request-log-thinking-config/proposal.md
  openspec/changes/archive/2026-03-17-request-log-thinking-config/specs/provider-usage-normalization/spec.md
  openspec/changes/archive/2026-03-17-request-log-thinking-config/specs/request-thinking-config-display/spec.md
  openspec/changes/archive/2026-03-17-request-log-thinking-config/specs/request-thinking-config-logging/spec.md
  openspec/changes/archive/2026-03-17-request-log-thinking-config/tasks.md
  openspec/specs/provider-usage-normalization/spec.md
  openspec/specs/request-thinking-config-display/spec.md
  openspec/specs/request-thinking-config-logging/spec.md
Due: prettier

docs: align readme and env template
  .env.example
  README.md
  README_EN.md
Due: prettier

fix: track anthropic adaptive thinking effort
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/utils/request-thinking-config.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/utils/request-thinking-config.test.ts
Due: prettier, eslint, tsc

fix: normalize gemini thinking level logs
  src/app/api/proxy/v1/[...path]/route.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

fix: restyle thinking budget badge
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

feat: support unrestricted key upstream access mode
  drizzle-sqlite/0002_api_keys_access_mode.sql
  drizzle-sqlite/meta/_journal.json
  drizzle/0023_api_keys_access_mode.sql
  drizzle/meta/_journal.json
  src/app/api/admin/keys/[id]/route.ts
  src/app/api/admin/keys/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/create-key-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/keys-table.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/key-manager.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/create-key-dialog.test.tsx
  tests/components/edit-key-dialog.test.tsx
  tests/components/keys-table.test.tsx
  tests/components/revoke-key-dialog.test.tsx
  tests/components/show-key-dialog.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/hooks/use-api-keys.test.ts
  tests/unit/lib/schema.test.ts
  tests/unit/services/key-manager.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

docs: add api key spending quota proposal
  openspec/changes/add-api-key-spending-quota/.openspec.yaml
  openspec/changes/add-api-key-spending-quota/design.md
  openspec/changes/add-api-key-spending-quota/proposal.md
  openspec/changes/add-api-key-spending-quota/specs/api-key-spending-quota/spec.md
  openspec/changes/add-api-key-spending-quota/tasks.md
Due: prettier

chore: update config
  openspec/config.yaml
Due: none

feat: add api key spending quota
  drizzle-sqlite/0003_medical_rattler.sql
  drizzle-sqlite/meta/0003_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0024_tiny_brother_voodoo.sql
  drizzle/meta/0024_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/add-api-key-spending-quota/tasks.md
  src/app/api/admin/keys/[id]/route.ts
  src/app/api/admin/keys/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/create-key-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/keys-table.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/api-key-quota-tracker.ts
  src/lib/services/billing-cost-service.ts
  src/lib/services/key-manager.ts
  src/lib/services/spending-rules.ts
  src/lib/services/unified-error.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/create-key-dialog.test.tsx
  tests/components/edit-key-dialog.test.tsx
  tests/components/keys-table.test.tsx
  tests/unit/api/admin/keys/route.test.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/api-key-quota-tracker.test.ts
  tests/unit/services/key-manager.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc
