Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

test(keys): add EditKeyDialog component tests
  tests/components/edit-key-dialog.test.tsx
Due: prettier, tsc

fix(keys): address PR review feedback
  src/app/api/admin/keys/[id]/route.ts
  src/hooks/use-api-keys.ts
  src/lib/services/key-manager.ts
  tests/unit/services/key-manager.test.ts
Due: prettier, eslint, tsc

fix(keys): address additional PR review feedback
  src/app/api/admin/keys/[id]/route.ts
  tests/components/edit-key-dialog.test.tsx
Due: prettier, eslint, tsc

fix: address third round PR review feedback
  src/app/api/admin/keys/[id]/route.ts
  src/lib/services/key-manager.ts
  tests/unit/services/key-manager.test.ts
Due: prettier, eslint, tsc

feat(keys): add API key update functionality with edit dialog (#66)
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(dashboard)/keys/page.tsx
  src/app/api/admin/keys/[id]/route.ts
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/keys-table.tsx
  src/hooks/use-api-keys.ts
  src/lib/services/key-manager.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/edit-key-dialog.test.tsx
  tests/components/keys-table.test.tsx
  tests/unit/hooks/use-api-keys.test.ts
  tests/unit/services/key-manager.test.ts
Due: prettier, eslint, tsc

docs(openspec): add enhance-logs-token-display proposal
  openspec/changes/enhance-logs-token-display/design.md
  openspec/changes/enhance-logs-token-display/proposal.md
  openspec/changes/enhance-logs-token-display/specs/request-logs/spec.md
  openspec/changes/enhance-logs-token-display/tasks.md
Due: prettier

docs(openspec): update token display design to match Cassette Futurism style
  openspec/changes/enhance-logs-token-display/design.md
  openspec/changes/enhance-logs-token-display/specs/request-logs/spec.md
Due: prettier

feat(logs): enhance token display with detailed breakdown and auto-refresh
  drizzle/0001_thankful_sinister_six.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/enhance-logs-token-display/tasks.md
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/[locale]/layout.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/refresh-interval-select.tsx
  src/components/admin/token-display.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-request-logs.ts
  src/lib/db/schema.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/unit/lib/schema.test.ts
  tests/unit/services/request-logger.test.ts
Due: prettier, eslint, tsc

fix(logs): address PR review feedback and improve test coverage
  src/components/admin/refresh-interval-select.tsx
  src/components/admin/token-display.tsx
  tests/components/refresh-interval-select.test.tsx
  tests/components/token-display.test.tsx
Due: prettier, eslint, tsc

fix(logs): address second round PR review feedback
  src/components/admin/refresh-interval-select.tsx
  src/lib/services/request-logger.ts
Due: prettier, eslint, tsc

fix(logs): address third round PR review feedback
  src/components/admin/refresh-interval-select.tsx
  src/lib/services/request-logger.ts
Due: prettier, eslint, tsc

fix(logs): address fourth round PR review feedback
  src/lib/services/request-logger.ts
  tests/components/token-display.test.tsx
Due: prettier, eslint, tsc

fix(logs): trust Anthropic input_tokens, only fallback when missing
  src/lib/services/request-logger.ts
Due: prettier, eslint, tsc

feat(logs): enhance token display with detailed breakdown and auto-refresh (#67)
  drizzle/0001_thankful_sinister_six.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/enhance-logs-token-display/design.md
  openspec/changes/enhance-logs-token-display/proposal.md
  openspec/changes/enhance-logs-token-display/specs/request-logs/spec.md
  openspec/changes/enhance-logs-token-display/tasks.md
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/[locale]/layout.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/refresh-interval-select.tsx
  src/components/admin/token-display.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-request-logs.ts
  src/lib/db/schema.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/components/refresh-interval-select.test.tsx
  tests/components/token-display.test.tsx
  tests/unit/lib/schema.test.ts
  tests/unit/services/request-logger.test.ts
Due: prettier, eslint, tsc

fix(logs): persist detailed token usage
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

fix(proxy): enforce provider routing by path
  src/app/api/proxy/v1/[...path]/route.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-1 - Add upstream_groups table and update upstreams table
  src/lib/db/schema.ts
Due: prettier, eslint, tsc

auto-claude: subtask-1-2 - Generate database migration for upstream groups
  drizzle/0002_nebulous_blue_blade.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
Due: none

auto-claude: subtask-2-1 - Create load-balancer service with round-robin, weighted, and least-connections strategies
  src/lib/services/load-balancer.ts
Due: prettier, eslint, tsc

auto-claude: subtask-2-2 - Add unit tests for load balancer service
  tests/unit/services/load-balancer.test.ts
Due: prettier, tsc

auto-claude: subtask-3-1 - Create health-checker service for periodic upstream health checks
  src/lib/services/health-checker.ts
Due: prettier, eslint, tsc

auto-claude: subtask-3-2 - Add unit tests for health checker service
  tests/unit/services/health-checker.test.ts
Due: prettier, tsc

auto-claude: subtask-4-1 - Update upstream-crud service with group and weight
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-service.ts
Due: prettier, eslint, tsc

auto-claude: subtask-4-2 - Update API types for upstream groups and weights
  src/types/api.ts
Due: prettier, eslint, tsc

auto-claude: subtask-4-3 - Update API transformers for new fields and types
  src/lib/utils/api-transformers.ts
Due: prettier, eslint, tsc

auto-claude: subtask-4-4 - Update upstream-crud tests for new functionality
  tests/unit/services/upstream-crud.test.ts
Due: prettier, tsc

auto-claude: subtask-5-1 - Create upstream groups API routes (CRUD)
  src/app/api/admin/upstreams/groups/[id]/route.ts
  src/app/api/admin/upstreams/groups/route.ts
Due: prettier, eslint, tsc

auto-claude: subtask-5-2 - Create upstream health status API route
  src/app/api/admin/upstreams/health/route.ts
Due: prettier, eslint, tsc

auto-claude: subtask-5-3 - Update existing upstream routes to support group and weight fields
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
Due: prettier, eslint, tsc

auto-claude: subtask-6-1 - Update proxy route to use load balancer for group-based upstream selection
  src/app/api/proxy/v1/[...path]/route.ts
Due: prettier, eslint, tsc

auto-claude: subtask-6-2 - Add/update proxy route tests for load balancing sc
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

auto-claude: subtask-7-1 - Create hooks for upstream groups (CRUD operations)
  src/hooks/use-upstream-groups.ts
Due: prettier, eslint, tsc

auto-claude: subtask-7-2 - Update use-upstreams hook to include health status
  src/hooks/use-upstreams.ts
Due: prettier, eslint, tsc

auto-claude: subtask-8-1 - Create upstream group management dialog component
  src/components/admin/upstream-group-dialog.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-8-2 - Create upstream health status indicator component
  src/components/admin/upstream-health-status.tsx
Due: prettier, eslint, tsc

auto-claude: subtask-8-3 - Update upstreams table to show group, weight, and health status
  src/components/admin/upstreams-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

auto-claude: subtask-8-4 - Update upstream form dialog with group and weight fields
  src/components/admin/upstream-form-dialog.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

auto-claude: subtask-9-1 - Update upstreams page with group management tabs/sections
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

auto-claude: subtask-10-1 - Add English translations for upstream groups and health
  src/messages/en.json
Due: prettier

auto-claude: subtask-10-2 - Add Chinese translations for upstream groups and health features
  src/lib/services/health-checker.ts
  src/lib/services/load-balancer.ts
  src/messages/zh-CN.json
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc
