Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

tsc:
  name: tsc
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

fix: balance background sync action spacing
  src/components/admin/background-sync-tasks-panel.tsx
Due: prettier, eslint, tsc

fix: show background sync intervals with units
  src/components/admin/background-sync-tasks-panel.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/background-sync-tasks-panel.test.tsx
Due: prettier, eslint, tsc

fix: remove background sync panel outer card
  src/components/admin/background-sync-tasks-panel.tsx
Due: prettier, eslint, tsc

fix: add mobile entry for background tasks
  src/app/[locale]/(dashboard)/settings/page.tsx
  tests/components/settings-page.test.tsx
Due: prettier, eslint, tsc

chore: bump version to 0.2.0
  package.json
Due: prettier

ci: derive release version from tags
  .github/workflows/release.yml
  Dockerfile
  next.config.ts
  package.json
Due: prettier, tsc

fix: show app version on mobile settings
  src/app/[locale]/(dashboard)/settings/page.tsx
Due: prettier, eslint, tsc

chore: limit postcss lockfile update
  pnpm-lock.yaml
Due: none

feat: add per-key model allowlist
  drizzle-sqlite/0007_rare_psynapse.sql
  drizzle-sqlite/meta/0007_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0029_dapper_ink.sql
  drizzle/meta/0029_snapshot.json
  drizzle/meta/_journal.json
  src/app/api/admin/keys/[id]/route.ts
  src/app/api/admin/keys/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/create-key-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/keys-table.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/lib/api-key-models.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/key-manager.ts
  src/lib/services/route-capability-matcher.ts
  src/lib/services/unified-error.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/admin/routing-decision-timeline.test.tsx
  tests/components/create-key-dialog.test.tsx
  tests/components/edit-key-dialog.test.tsx
  tests/components/keys-table.test.tsx
  tests/unit/api/admin/keys/route.test.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/lib/schema.test.ts
  tests/unit/scripts/migrate-sqlite.test.ts
  tests/unit/services/key-manager.test.ts
  tests/unit/services/route-capability-matcher.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

test: update logs e2e outbound label
  tests/e2e/logs-routing-decision.spec.ts
Due: prettier, tsc

fix: improve litellm catalog handling
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/lib/services/upstream-model-discovery.ts
  src/lib/services/upstream-model-types.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/services/upstream-model-discovery.test.ts
Due: prettier, eslint, tsc

fix: center catalog refresh loading state
  src/components/admin/upstream-form-dialog.tsx
Due: prettier, eslint, tsc

fix: align model list with routing constraints
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/lib/api-key-models.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

docs: update readme screenshots
  docs/images/dashboard-dark.png
  docs/images/keys-dark.png
  docs/images/login-dark.png
  docs/images/logs-dark.png
  docs/images/mobile-dashboard-dark.png
  docs/images/mobile-keys-dark.png
  docs/images/mobile-logs-dark.png
  docs/images/mobile-upstreams-dark.png
  docs/images/upstreams-dark.png
Due: none

ci: run verify on all pull requests
  .github/workflows/verify.yml
Due: none

fix: improve admin mobile layout
  src/app/[locale]/(dashboard)/keys/page.tsx
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/route-capability-badges.tsx
  src/components/admin/upstreams-table.tsx
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/usage-chart.tsx
  tests/components/route-capability-badges.test.tsx
  tests/components/upstreams-table.test.tsx
Due: prettier, eslint, tsc

ci: compare stable releases for notes
  .github/workflows/release.yml
Due: none

feat: refine admin pagination and sensitive inputs
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(dashboard)/keys/page.tsx
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/app/globals.css
  src/components/admin/pagination-controls.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/ui/password-input.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/password-input.test.tsx
Due: prettier, eslint, tsc

test:cover-admin-pagination-controls
  src/components/admin/pagination-controls.tsx
  tests/components/pagination-controls.test.tsx
Due: prettier, eslint, tsc

docs: propose CLIProxyAPI integration
  openspec/changes/add-cliproxyapi-integration/.openspec.yaml
  openspec/changes/add-cliproxyapi-integration/design.md
  openspec/changes/add-cliproxyapi-integration/proposal.md
  openspec/changes/add-cliproxyapi-integration/specs/cliproxyapi-oauth-upstreams/spec.md
  openspec/changes/add-cliproxyapi-integration/specs/upstream-endpoint-experience/spec.md
  openspec/changes/add-cliproxyapi-integration/specs/upstream-operations-workbench/spec.md
  openspec/changes/add-cliproxyapi-integration/specs/upstream-route-capabilities/spec.md
  openspec/changes/add-cliproxyapi-integration/tasks.md
Due: prettier

feat: add CLIProxyAPI config contract
  drizzle-sqlite/0008_broken_nicolaos.sql
  drizzle-sqlite/meta/0008_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0030_nice_falcon.sql
  drizzle/meta/0030_snapshot.json
  drizzle/meta/_journal.json
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  src/lib/services/cliproxyapi-config.ts
  src/lib/services/cliproxyapi-upstream-config.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-service.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/unit/services/cliproxyapi-config.test.ts
  tests/unit/services/cliproxyapi-upstream-config.test.ts
Due: prettier, eslint, tsc

feat: add CLIProxyAPI admin API
  src/app/api/admin/cliproxyapi/_utils.ts
  src/app/api/admin/cliproxyapi/auth-files/models/route.ts
  src/app/api/admin/cliproxyapi/auth-files/route.ts
  src/app/api/admin/cliproxyapi/config/route.ts
  src/app/api/admin/cliproxyapi/oauth/route.ts
  src/app/api/admin/cliproxyapi/status/route.ts
  src/lib/services/cliproxyapi-client.ts
  tests/unit/api/admin/cliproxyapi/route.test.ts
  tests/unit/services/cliproxyapi-client.test.ts
Due: prettier, eslint, tsc

feat: add CLIProxyAPI upstream presets
  openspec/changes/add-cliproxyapi-integration/tasks.md
  src/app/api/admin/cliproxyapi/presets/route.ts
  src/lib/services/cliproxyapi-presets.ts
  src/lib/services/upstream-service.ts
  tests/unit/api/admin/cliproxyapi/route.test.ts
  tests/unit/services/cliproxyapi-presets.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

feat: add CLIProxyAPI admin UI
  openspec/changes/add-cliproxyapi-integration/tasks.md
  src/app/[locale]/(dashboard)/system/cliproxyapi/page.tsx
  src/components/admin/sidebar.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/hooks/use-cliproxyapi.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/cliproxyapi-page.test.tsx
  tests/components/sidebar.test.tsx
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, eslint, tsc

docs: document CLIProxyAPI deployment
  .env.example
  README.md
  README_EN.md
  docker-compose.yaml
  docker-compose.yml
  openspec/changes/add-cliproxyapi-integration/tasks.md
Due: prettier

test: finalize CLIProxyAPI validation
  openspec/changes/add-cliproxyapi-integration/tasks.md
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, tsc

fix: sanitize CLIProxyAPI auth metadata
  src/app/api/admin/cliproxyapi/auth-files/route.ts
  src/lib/services/cliproxyapi-client.ts
  tests/unit/api/admin/cliproxyapi/route.test.ts
  tests/unit/services/cliproxyapi-client.test.ts
Due: prettier, eslint, tsc

test: cover Codex CPA auth endpoint
  tests/unit/services/cliproxyapi-client.test.ts
Due: prettier, tsc

fix: clarify CPA management 404 errors
  src/app/api/admin/cliproxyapi/_utils.ts
  tests/unit/api/admin/cliproxyapi/route.test.ts
Due: prettier, eslint, tsc

fix: refine CLI login management layout
  src/app/[locale]/(dashboard)/system/cliproxyapi/page.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/cliproxyapi-page.test.tsx
Due: prettier, eslint, tsc

feat: add upstream diagnostic probes
  drizzle-sqlite/0008_cloudy_photon.sql
  drizzle-sqlite/meta/0008_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0030_blue_blindfold.sql
  drizzle/meta/0030_snapshot.json
  drizzle/meta/_journal.json
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/app/api/admin/upstreams/[id]/probes/route.ts
  src/app/api/admin/upstreams/probes/route.ts
  src/components/admin/upstreams-table.tsx
  src/hooks/use-upstreams.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  src/lib/services/upstream-probe-service.ts
  src/lib/services/upstream-service.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstreams-table.test.tsx
  tests/unit/api/admin/upstreams/probes.test.ts
  tests/unit/hooks/use-upstreams.test.ts
  tests/unit/lib/schema.test.ts
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, eslint, tsc

feat: refine upstream probe diagnostics
  drizzle-sqlite/0009_numerous_night_thrasher.sql
  drizzle-sqlite/meta/0009_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0031_next_tana_nile.sql
  drizzle/meta/0031_snapshot.json
  drizzle/meta/_journal.json
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/hooks/use-upstreams.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/upstream-probe-service.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
  tests/unit/api/admin/upstreams/probes.test.ts
  tests/unit/hooks/use-upstreams.test.ts
  tests/unit/lib/schema.test.ts
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, eslint, tsc

test: cover upstream probe diagnostics
  src/messages/en.json
  src/messages/zh-CN.json
  tests/unit/scripts/migrate-sqlite.test.ts
  tests/unit/services/upstream-probe-service.test.ts
Due: prettier, tsc

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (node_modules|\.next|drizzle)/
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
