Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

chore(openspec): spark baseline for billing spec
  openspec/changes/add-billing-system/.openspec.yaml
  openspec/changes/add-billing-system/design.md
  openspec/changes/add-billing-system/proposal.md
  openspec/changes/add-billing-system/specs/billing-management-console/spec.md
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/specs/request-cost-accounting/spec.md
  openspec/changes/add-billing-system/tasks.md
Due: prettier

feat(billing): implement request-level billing management system
  drizzle-sqlite/0000_broken_post.sql
  drizzle-sqlite/meta/0000_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0014_thankful_scarecrow.sql
  drizzle/meta/0014_snapshot.json
  drizzle/meta/_journal.json
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/api/admin/billing/overrides/[id]/route.ts
  src/app/api/admin/billing/overrides/route.ts
  src/app/api/admin/billing/overview/route.ts
  src/app/api/admin/billing/prices/sync/route.ts
  src/app/api/admin/billing/prices/unresolved/route.ts
  src/app/api/admin/billing/recent/route.ts
  src/app/api/admin/billing/upstream-multipliers/[id]/route.ts
  src/app/api/admin/billing/upstream-multipliers/route.ts
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/sidebar.tsx
  src/hooks/use-billing.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  src/lib/services/billing-cost-service.ts
  src/lib/services/billing-management-service.ts
  src/lib/services/billing-price-service.ts
  src/lib/services/request-logger.ts
  src/lib/services/upstream-crud.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/sidebar.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/billing-cost-service.test.ts
  tests/unit/services/billing-price-service.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

chore(openspec): mark add-billing-system tasks complete
  openspec/changes/add-billing-system/tasks.md
Due: prettier

feat(billing): add model price catalog query and UI
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/api/admin/billing/prices/route.ts
  src/hooks/use-billing.ts
  src/lib/services/billing-price-service.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

fix(i18n): localize missing billing table labels
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

feat(billing): use LiteLLM as price source
  drizzle/0015_mute_smasher.sql
  drizzle/meta/0015_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/add-billing-system/design.md
  openspec/changes/add-billing-system/proposal.md
  openspec/changes/add-billing-system/specs/billing-management-console/spec.md
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/specs/request-cost-accounting/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/api/admin/billing/overrides/[id]/route.ts
  src/app/api/admin/billing/overrides/route.ts
  src/app/api/admin/billing/prices/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/billing-cost-service.ts
  src/lib/services/billing-management-service.ts
  src/lib/services/billing-price-service.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/unit/services/billing-cost-service.test.ts
  tests/unit/services/billing-price-service.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

fix(billing): i18n syncing, refresh unresolved list, narrow USD symbol
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/components/admin/logs-table.tsx
  src/lib/services/billing-price-service.ts
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

fix(logs): remove redundant billing status column
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

fix(billing): clarify upstream disabled status label
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

refactor(ui): move multipliers to upstreams, focus billing on prices
  openspec/changes/add-billing-system/design.md
  openspec/changes/add-billing-system/proposal.md
  openspec/changes/add-billing-system/specs/billing-management-console/spec.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

test(upstreams): update form expectations for billing multipliers
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, tsc

fix(logs): hide billed status label on mobile cards
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

feat(logs): show billing breakdown formula in expanded details
  openspec/changes/add-billing-system/specs/billing-management-console/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/components/admin/logs-table.tsx
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat(billing): paginate model price catalog table
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

feat(billing): add page size control for price catalog
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

perf(billing): debounce price catalog search and keep list stable
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/hooks/use-billing.ts
Due: prettier, eslint, tsc

feat(billing): surface manual override precedence in price catalog
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/hooks/use-billing.ts
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

billing: add override reset and responsive price catalog
  openspec/changes/add-billing-system/specs/billing-price-catalog/spec.md
  openspec/changes/add-billing-system/tasks.md
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/api/admin/billing/overrides/reset/route.ts
  src/hooks/use-billing.ts
  src/lib/services/billing-price-service.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
Due: prettier, eslint, tsc

test: increase billing admin API coverage
  tests/unit/api/admin/billing/overrides/[id]/route.test.ts
  tests/unit/api/admin/billing/overrides/reset/route.test.ts
  tests/unit/api/admin/billing/overrides/route.test.ts
  tests/unit/api/admin/billing/overview/route.test.ts
  tests/unit/api/admin/billing/prices/route.test.ts
  tests/unit/api/admin/billing/prices/sync/route.test.ts
  tests/unit/api/admin/billing/prices/unresolved/route.test.ts
  tests/unit/api/admin/billing/recent/route.test.ts
  tests/unit/api/admin/billing/upstream-multipliers/[id]/route.test.ts
  tests/unit/api/admin/billing/upstream-multipliers/route.test.ts
  tests/unit/services/billing-price-reset.test.ts
Due: prettier, tsc

test: raise coverage to >= 75%
  tests/components/keys-table.test.tsx
  tests/unit/hooks/use-api-keys.test.ts
  tests/unit/hooks/use-billing.test.ts
  tests/unit/hooks/use-circuit-breaker.test.ts
  tests/unit/hooks/use-compensation-rules.test.ts
  tests/unit/hooks/use-upstreams.test.ts
  tests/unit/services/billing-management-service.test.ts
  tests/unit/services/billing-price-service-crud.test.ts
  tests/unit/services/billing-price-service.test.ts
  tests/unit/services/request-logger-db.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, tsc

test: remove any to satisfy lint
  tests/unit/hooks/use-api-keys.test.ts
Due: prettier, tsc

chore(security): bump transitive deps to fix Dependabot alerts
  package.json
  pnpm-lock.yaml
Due: prettier

chore(security): fix Dependabot alerts (rollup/minimatch overrides) (#87)
  package.json
  pnpm-lock.yaml
Due: prettier

feat: add upstream spending quota openspec proposal
  openspec/changes/add-upstream-spending-quota/.openspec.yaml
  openspec/changes/add-upstream-spending-quota/design.md
  openspec/changes/add-upstream-spending-quota/proposal.md
  openspec/changes/add-upstream-spending-quota/specs/upstream-route-capabilities/spec.md
  openspec/changes/add-upstream-spending-quota/specs/upstream-spending-quota/spec.md
  openspec/changes/add-upstream-spending-quota/tasks.md
Due: prettier

feat(db): add spending quota fields to upstreams table
  drizzle/0016_upstream_spending_quota.sql
  drizzle/meta/_journal.json
  openspec/changes/add-upstream-spending-quota/tasks.md
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
Due: prettier, eslint, tsc

feat: add QuotaTracker core service with unit tests (Phase 2)
  drizzle/meta/0016_snapshot.json
  src/lib/services/upstream-quota-tracker.ts
  tests/unit/services/upstream-quota-tracker.test.ts
Due: prettier, eslint, tsc

feat: integrate QuotaTracker into load balancer and billing service (Phase 3-4)
  src/lib/services/billing-cost-service.ts
  src/lib/services/load-balancer.ts
  src/lib/services/upstream-quota-tracker.ts
Due: prettier, eslint, tsc

feat: extend backend API with spending quota fields and quota status endpoint (Phase 5)
  drizzle/0016_upstream_spending_quota.sql
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/quota/route.ts
  src/app/api/admin/upstreams/route.ts
  src/lib/services/upstream-crud.ts
  src/lib/utils/api-transformers.ts
Due: prettier, eslint, tsc

feat: add frontend types and hooks for spending quota (Phase 6)
  src/hooks/use-upstreams.ts
  src/types/api.ts
Due: prettier, eslint, tsc

feat(upstream-quota): add frontend form, table display, and i18n
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
Due: prettier, eslint, tsc

fix: resolve verification issues for spending quota feature
  openspec/changes/add-upstream-spending-quota/tasks.md
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/quota/route.ts
  src/app/api/admin/upstreams/route.ts
  src/components/admin/upstreams-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/services/billing-cost-service.test.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

refactor: support multiple concurrent spending quota rules per upstream
  drizzle/0017_spending_rules_json.sql
  drizzle/meta/_journal.json
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/quota/route.ts
  src/app/api/admin/upstreams/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-quota-tracker.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/unit/services/upstream-quota-tracker.test.ts
Due: prettier, eslint, tsc

fix: restore AsciiProgress bar in quota display and update specs for multi-rule
  openspec/changes/add-upstream-spending-quota/design.md
  openspec/changes/add-upstream-spending-quota/specs/upstream-spending-quota/spec.md
  src/components/admin/upstreams-table.tsx
Due: prettier, eslint, tsc

fix: 上游限额进度与拦截
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/components/ui/terminal/ascii-progress.tsx
  src/lib/services/load-balancer.ts
  src/lib/services/upstream-quota-tracker.ts
  tests/components/ui/terminal/ascii-progress.test.tsx
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/upstream-quota-tracker.test.ts
Due: prettier, eslint, tsc

fix: 上游限额更新即时生效
  src/app/api/admin/upstreams/quota/route.ts
  src/hooks/use-upstreams.ts
  src/lib/services/load-balancer.ts
  tests/unit/services/load-balancer.test.ts
Due: prettier, eslint, tsc

chore(openspec): 对齐限额变更工件
  openspec/changes/add-upstream-spending-quota/proposal.md
  openspec/changes/add-upstream-spending-quota/specs/upstream-spending-quota/spec.md
  openspec/changes/add-upstream-spending-quota/tasks.md
Due: prettier

fix: quota 恢复与重置倒计时
  src/app/api/admin/upstreams/quota/route.ts
  src/components/admin/upstreams-table.tsx
  src/types/api.ts
  tests/components/upstreams-table.test.tsx
  tests/unit/services/upstream-quota-tracker.test.ts
Due: prettier, eslint, tsc

chore(i18n): 优化上游地址文案
  src/messages/zh-CN.json
Due: prettier

feat(ui): 独立显示上游限额列
  src/components/admin/upstreams-table.tsx
  src/messages/en.json
Due: prettier, eslint, tsc
