Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

tsc:
  name: tsc
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

fix: add failure rule regex preview
  openspec/changes/upstream-failure-controls/tasks.md
  src/components/admin/upstream-failure-rules-editor.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/upstream-failure-rules-editor.test.tsx
Due: prettier, eslint, tsc

fix: clarify failure rule create state
  src/components/admin/upstream-failure-rules-editor.tsx
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

refactor: extract recording-json-block as shared component
  openspec/changes/traffic-recording-logs-integration/.openspec.yaml
  openspec/changes/traffic-recording-logs-integration/design.md
  openspec/changes/traffic-recording-logs-integration/proposal.md
  openspec/changes/traffic-recording-logs-integration/specs/request-log-record-integration/spec.md
  openspec/changes/traffic-recording-logs-integration/specs/traffic-recording-runtime-control/spec.md
  openspec/changes/traffic-recording-logs-integration/tasks.md
  src/app/[locale]/(dashboard)/system/traffic-recording/page.tsx
  src/components/admin/recording-json-block.tsx
  tests/components/recording-json-block.test.tsx
Due: prettier, eslint, tsc

feat(api): allow listing traffic recordings by request_log_id
  openspec/changes/traffic-recording-logs-integration/tasks.md
  src/app/api/admin/traffic-recordings/route.ts
  src/lib/services/traffic-recording-service.ts
  tests/unit/api/admin/traffic-recording-routes.test.ts
  tests/unit/services/traffic-recording-service.test.ts
Due: prettier, eslint, tsc

feat(api): allow filtering request logs by id
  openspec/changes/traffic-recording-logs-integration/tasks.md
  src/app/api/admin/logs/route.ts
  src/lib/services/request-logger.ts
  tests/unit/api/admin/logs-route.test.ts
  tests/unit/services/request-logger-db.test.ts
Due: prettier, eslint, tsc

feat(logs): embed traffic recording section in log row details
  openspec/changes/traffic-recording-logs-integration/tasks.md
  src/components/admin/log-recording-section.tsx
  src/components/admin/logs-table.tsx
  src/hooks/use-traffic-recording.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/log-recording-section.test.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

feat(recordings): link recording rows back to their source log
  openspec/changes/traffic-recording-logs-integration/tasks.md
  src/app/[locale]/(dashboard)/system/traffic-recording/page.tsx
  tests/components/traffic-recording-page.test.tsx
Due: prettier, eslint, tsc

feat(logs): support focus deep-link from recording rows
  openspec/changes/traffic-recording-logs-integration/tasks.md
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/components/admin/logs-table.tsx
  src/hooks/use-request-logs.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-page.test.tsx
Due: prettier, eslint, tsc

test(migrate): bump expected sqlite migration count to 12
  openspec/changes/traffic-recording-logs-integration/tasks.md
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, tsc

chore(openspec): mark phase 7 tasks.md fully complete
  openspec/changes/traffic-recording-logs-integration/tasks.md
Due: prettier

ci(verify): emit default reporter and persist vitest artifacts
  .github/workflows/verify.yml
Due: none

test(recording): use path.join for cross-platform fixture assertion
  tests/unit/services/traffic-recording-service.test.ts
Due: prettier, tsc

fix(recordings): apply filters to aggregate stats query
  src/lib/services/traffic-recording-service.ts
  tests/unit/services/traffic-recording-service.test.ts
Due: prettier, eslint, tsc

chore: 引入 CodeGraph 代码知识图谱配置
  .codegraph/.gitignore
  .codegraph/config.json
Due: prettier

docs(openspec): 新增 cliproxy-instance-config 变更提案
  openspec/changes/cliproxy-instance-config/.openspec.yaml
  openspec/changes/cliproxy-instance-config/design.md
  openspec/changes/cliproxy-instance-config/proposal.md
  openspec/changes/cliproxy-instance-config/specs/cliproxy-instance-management/spec.md
  openspec/changes/cliproxy-instance-config/tasks.md
Due: prettier

feat(cliproxy): 新增 cliproxy_instances 数据模型
  drizzle-sqlite/0012_tense_chimera.sql
  drizzle-sqlite/meta/0012_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0034_youthful_sally_floyd.sql
  drizzle/meta/0034_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/cliproxy-instance-config/tasks.md
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增实例 CRUD 与连通性检测服务
  openspec/changes/cliproxy-instance-config/tasks.md
  src/lib/services/cliproxy-connection-tester.ts
  src/lib/services/cliproxy-instance-crud.ts
  tests/unit/scripts/migrate-sqlite.test.ts
  tests/unit/services/cliproxy-connection-tester.test.ts
  tests/unit/services/cliproxy-instance-crud.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增实例管理 Admin API
  openspec/changes/cliproxy-instance-config/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/route.ts
  src/app/api/admin/cliproxy/instances/[id]/test/route.ts
  src/app/api/admin/cliproxy/instances/route.ts
  src/app/api/admin/cliproxy/instances/test/route.ts
  src/lib/services/cliproxy-instance-crud.ts
  src/lib/utils/cliproxy-api-transformers.ts
  tests/unit/api/admin/cliproxy/instances.test.ts
Due: prettier, eslint, tsc

chore(cliproxy): cliproxy-instance-config 收尾验证
  openspec/changes/cliproxy-instance-config/tasks.md
Due: prettier

docs(cliproxy): 校准 SSRF 校验粒度表述并补充设计说明
  openspec/changes/cliproxy-instance-config/design.md
  openspec/changes/cliproxy-instance-config/specs/cliproxy-instance-management/spec.md
  src/lib/services/cliproxy-instance-crud.ts
Due: prettier, eslint, tsc

docs(openspec): 新增 cliproxy-oauth-account-management 变更提案
  openspec/changes/cliproxy-oauth-account-management/.openspec.yaml
  openspec/changes/cliproxy-oauth-account-management/design.md
  openspec/changes/cliproxy-oauth-account-management/proposal.md
  openspec/changes/cliproxy-oauth-account-management/specs/cliproxy-oauth-account-management/spec.md
  openspec/changes/cliproxy-oauth-account-management/tasks.md
Due: prettier

feat(cliproxy): 新增 cliproxy_auth_accounts 数据模型
  drizzle-sqlite/0013_daily_white_tiger.sql
  drizzle-sqlite/meta/0013_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0035_powerful_nightcrawler.sql
  drizzle/meta/0035_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/cliproxy-oauth-account-management/tasks.md
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 CLIProxyAPI 管理 API 客户端
  openspec/changes/cliproxy-oauth-account-management/tasks.md
  src/lib/services/cliproxy-management-client.ts
  tests/unit/services/cliproxy-management-client.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 OAuth 账号同步与账号管理服务
  openspec/changes/cliproxy-oauth-account-management/tasks.md
  src/lib/services/cliproxy-auth-account-service.ts
  src/lib/services/cliproxy-instance-crud.ts
  tests/unit/services/cliproxy-auth-account-service.test.ts
  tests/unit/services/cliproxy-instance-crud.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 OAuth 登录流程服务
  openspec/changes/cliproxy-oauth-account-management/tasks.md
  src/lib/services/cliproxy-oauth-login-service.ts
  tests/unit/services/cliproxy-oauth-login-service.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 新增 OAuth 账号管理 Admin API
  openspec/changes/cliproxy-oauth-account-management/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/[accountName]/route.ts
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/[accountName]/status/route.ts
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/route.ts
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/sync/route.ts
  src/app/api/admin/cliproxy/instances/[id]/oauth-login/route.ts
  src/app/api/admin/cliproxy/instances/[id]/oauth-login/status/route.ts
  src/lib/utils/cliproxy-api-transformers.ts
  src/lib/utils/cliproxy-route-errors.ts
  tests/unit/api/admin/cliproxy/auth-accounts.test.ts
Due: prettier, eslint, tsc

chore(cliproxy): cliproxy-oauth-account-management 收尾验证
  openspec/changes/cliproxy-oauth-account-management/tasks.md
Due: prettier

fix(cliproxy): auth account 的 provider/status 改为自由文本
  drizzle/0036_furry_warhawk.sql
  drizzle/meta/0036_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/cliproxy-oauth-account-management/design.md
  src/lib/db/schema-pg.ts
  tests/unit/api/admin/cliproxy/auth-accounts.test.ts
Due: prettier, eslint, tsc

docs(openspec): 新增 cliproxy-oauth-pool-upstream 变更提案
  openspec/changes/cliproxy-oauth-pool-upstream/.openspec.yaml
  openspec/changes/cliproxy-oauth-pool-upstream/design.md
  openspec/changes/cliproxy-oauth-pool-upstream/proposal.md
  openspec/changes/cliproxy-oauth-pool-upstream/specs/cliproxy-oauth-pool-upstream/spec.md
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
Due: prettier

feat(cliproxy): upstreams 表新增 CLIProxyAPI 关联字段
  drizzle-sqlite/0014_nebulous_payback.sql
  drizzle-sqlite/meta/0014_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0037_familiar_nico_minoru.sql
  drizzle/meta/0037_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 池上游与单账号映射预设服务
  openspec/changes/cliproxy-oauth-pool-upstream/design.md
  openspec/changes/cliproxy-oauth-pool-upstream/specs/cliproxy-oauth-pool-upstream/spec.md
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
  src/lib/services/cliproxy-auth-account-service.ts
  src/lib/services/cliproxy-upstream-preset.ts
  tests/unit/services/cliproxy-upstream-preset.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 转发层注入单账号上游账号前缀
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/cliproxy-upstream-preset.ts
  src/lib/services/proxy-client.ts
  tests/unit/services/cliproxy-upstream-preset.test.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 实例删除校验扩展至上游引用
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
  src/lib/services/cliproxy-instance-crud.ts
  tests/unit/services/cliproxy-instance-crud.test.ts
Due: prettier, eslint, tsc

feat(cliproxy): 池上游与单账号映射 Admin API
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
  src/app/api/admin/cliproxy/instances/[id]/auth-accounts/[accountName]/upstream/route.ts
  src/app/api/admin/cliproxy/instances/[id]/pool-upstreams/route.ts
  src/lib/utils/cliproxy-route-errors.ts
  tests/unit/api/admin/cliproxy/upstreams.test.ts
Due: prettier, eslint, tsc

test(cliproxy): 收尾验证与转发层调用断言修正
  openspec/changes/cliproxy-oauth-pool-upstream/tasks.md
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

docs(openspec): 新增 cliproxy-sidecar-deployment 变更提案
  openspec/changes/cliproxy-sidecar-deployment/.openspec.yaml
  openspec/changes/cliproxy-sidecar-deployment/design.md
  openspec/changes/cliproxy-sidecar-deployment/proposal.md
  openspec/changes/cliproxy-sidecar-deployment/specs/cliproxy-sidecar-deployment/spec.md
  openspec/changes/cliproxy-sidecar-deployment/tasks.md
Due: prettier

feat(cliproxy): 新增 CPA sidecar 配置模板与启动脚本
  cliproxy/config.yaml.template
  cliproxy/docker-entrypoint.sh
  openspec/changes/cliproxy-sidecar-deployment/tasks.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (node_modules|\.next|drizzle)/
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
