Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

tsc:
  name: tsc
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

feat(failover): model-router - integrate circuit breaker filtering
  openspec/changes/optimize-failover/tasks.md
  src/lib/services/model-router.ts
  tests/unit/services/model-router.test.ts
Due: prettier, eslint, tsc

feat(failover): load-balancer - add provider_type based selection
  openspec/changes/optimize-failover/tasks.md
  src/lib/services/health-checker.ts
  src/lib/services/load-balancer.ts
  tests/unit/services/load-balancer.test.ts
Due: prettier, eslint, tsc

feat(failover): proxy-route - implement circuit breaker failover
  openspec/changes/optimize-failover/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/request-logger.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

feat(admin-api): add circuit breaker management endpoints
  src/app/api/admin/circuit-breakers/[id]/force-close/route.ts
  src/app/api/admin/circuit-breakers/[id]/force-open/route.ts
  src/app/api/admin/circuit-breakers/[id]/route.ts
  src/app/api/admin/circuit-breakers/route.ts
  src/lib/services/upstream-crud.ts
  src/lib/utils/api-transformers.ts
  tests/unit/api/admin/circuit-breakers/[id]/force-close/route.test.ts
  tests/unit/api/admin/circuit-breakers/[id]/force-open/route.test.ts
  tests/unit/api/admin/circuit-breakers/[id]/route.test.ts
  tests/unit/api/admin/circuit-breakers/route.test.ts
  tests/unit/services/upstream-crud.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat(frontend): add circuit breaker UI components
  src/components/admin/circuit-breaker-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/hooks/use-circuit-breaker.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
Due: prettier, eslint, tsc

test(failover): integration - verify circuit breaker and failover implementation
  openspec/changes/optimize-failover/tasks.md
Due: prettier

docs(failover): documentation - add circuit breaker guides
  CLAUDE.md
  docs/circuit-breaker.md
  openspec/changes/optimize-failover/tasks.md
Due: prettier

feat(failover): complete - finalize circuit breaker and failover implementation
  openspec/changes/optimize-failover/tasks.md
Due: prettier

feat(failover): frontend - add circuit breaker configuration to upstream form
  openspec/changes/optimize-failover/tasks.md
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/lib/services/upstream-crud.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, eslint, tsc

fix(failover): auto-create circuit breaker states for existing upstreams
  openspec/changes/optimize-failover/tasks.md
  src/lib/services/upstream-crud.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

fix(failover): add scroll support to upstream form dialog
  src/components/admin/upstream-form-dialog.tsx
Due: prettier, eslint, tsc

chore(docker): suppress PostgreSQL NOTICE messages in migrations
  scripts/docker-entrypoint.sh
Due: none

spec(failover): add failover-enhancement change artifacts
  openspec/changes/failover-enhancement/.openspec.yaml
  openspec/changes/failover-enhancement/design.md
  openspec/changes/failover-enhancement/proposal.md
  openspec/changes/failover-enhancement/specs/failover-strategy/spec.md
  openspec/changes/failover-enhancement/tasks.md
Due: prettier

feat(failover): implement enhanced failover with exhaust_all strategy
  openspec/changes/failover-enhancement/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/failover-config.ts
  src/lib/services/request-logger.ts
  src/lib/services/unified-error.ts
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/failover-config.test.ts
  tests/unit/services/unified-error.test.ts
Due: prettier, eslint, tsc

chore(lint): fix lint warnings and improve eslint config
  eslint.config.mjs
  src/components/admin/circuit-breaker-dialog.tsx
  tests/unit/api/admin/circuit-breakers/[id]/force-close/route.test.ts
  tests/unit/api/admin/circuit-breakers/[id]/force-open/route.test.ts
  tests/unit/api/admin/circuit-breakers/[id]/route.test.ts
  tests/unit/api/admin/circuit-breakers/route.test.ts
Due: prettier, eslint, tsc

fix(proxy): hide upstream info in all error responses
  src/app/api/proxy/v1/[...path]/route.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

chore(docker): change default port from 3000 to 3331
  docker-compose.yaml
  docker-compose.yml
Due: none

fix(proxy): filter upstreams by API key authorization during routing
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/load-balancer.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/load-balancer.test.ts
Due: prettier, eslint, tsc

chore(deploy): change default port from 3000 to 3331
  .github/workflows/deploy.yml
Due: none

fix(groups): add upstream_count and healthy_count to group list API
  src/lib/services/upstream-crud.ts
  src/lib/utils/api-transformers.ts
  tests/unit/services/upstream-crud.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

fix(proxy): remove auto-injection of anthropic-version header
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

spec(logs): add routing decision display enhancement spec
  openspec/changes/enhance-logs-routing-decision/.openspec.yaml
  openspec/changes/enhance-logs-routing-decision/design.md
  openspec/changes/enhance-logs-routing-decision/proposal.md
  openspec/changes/enhance-logs-routing-decision/specs/routing-decision-display/spec.md
  openspec/changes/enhance-logs-routing-decision/specs/routing-decision-logging/spec.md
  openspec/changes/enhance-logs-routing-decision/tasks.md
Due: prettier

feat(logs): add routing decision display to request logs
  drizzle/0006_fuzzy_cyclops.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/enhance-logs-routing-decision/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-display.tsx
  src/lib/db/schema.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/admin/routing-decision-display.test.tsx
  tests/unit/services/request-logger.test.ts
Due: prettier, eslint, tsc

spec(logs): add unified log detail view change spec
  openspec/changes/unify-logs-detail-view/.openspec.yaml
  openspec/changes/unify-logs-detail-view/design.md
  openspec/changes/unify-logs-detail-view/proposal.md
  openspec/changes/unify-logs-detail-view/specs/unified-log-detail-view/spec.md
  openspec/changes/unify-logs-detail-view/tasks.md
Due: prettier

feat(logs): unify detail view with expandable rows
  openspec/changes/unify-logs-detail-view/tasks.md
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-display.tsx
  src/components/admin/token-display.tsx
  tests/components/admin/routing-decision-display.test.tsx
  tests/components/logs-table.test.tsx
  tests/components/token-display.test.tsx
Due: prettier, eslint, tsc

spec(ui): add mission-control-tables change for terminal-style table enhancement
  openspec/changes/mission-control-tables/.openspec.yaml
  openspec/changes/mission-control-tables/design.md
  openspec/changes/mission-control-tables/proposal.md
  openspec/changes/mission-control-tables/specs/ascii-progress-bar/spec.md
  openspec/changes/mission-control-tables/specs/mini-sparkline/spec.md
  openspec/changes/mission-control-tables/specs/node-array-layout/spec.md
  openspec/changes/mission-control-tables/specs/signal-stream-layout/spec.md
  openspec/changes/mission-control-tables/specs/status-led-indicator/spec.md
  openspec/changes/mission-control-tables/specs/terminal-table-header/spec.md
  openspec/changes/mission-control-tables/tasks.md
Due: prettier

feat(ui): implement mission-control-tables terminal-style enhancement
  openspec/changes/mission-control-tables/tasks.md
  src/components/admin/logs-table.tsx
  src/components/admin/upstreams-table.tsx
  src/components/ui/terminal/ascii-progress.tsx
  src/components/ui/terminal/index.ts
  src/components/ui/terminal/mini-sparkline.tsx
  src/components/ui/terminal/status-led.tsx
  src/components/ui/terminal/terminal-header.tsx
  tests/components/logs-table.test.tsx
  tests/components/ui/terminal/ascii-progress.test.tsx
  tests/components/ui/terminal/mini-sparkline.test.tsx
  tests/components/ui/terminal/reduced-motion.test.tsx
  tests/components/ui/terminal/status-led.test.tsx
  tests/components/ui/terminal/terminal-header.test.tsx
  tests/components/upstreams-table.test.tsx
Due: prettier, eslint, tsc

fix(ui): improve terminal component visibility and animations
  src/components/admin/logs-table.tsx
  src/components/admin/upstreams-table.tsx
  src/components/ui/terminal/status-led.tsx
  src/components/ui/terminal/terminal-header.tsx
  tests/components/ui/terminal/reduced-motion.test.tsx
  upstreams-page
Due: prettier, eslint, tsc

chore: remove accidentally committed screenshot file
  upstreams-page
Due: none

fix(ui): use circular box-shadow for LED glow instead of text-shadow
  src/components/ui/terminal/status-led.tsx
  tests/components/ui/terminal/reduced-motion.test.tsx
Due: prettier, eslint, tsc

fix(ui): remove square halo from status LED glow
  src/app/globals.css
  src/components/ui/terminal/status-led.tsx
Due: prettier, eslint, tsc

fix(logs): correct animations and live indicators
  src/app/globals.css
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

feat(logs): complete upstream routing design
  src/app/[locale]/(dashboard)/logs/page.tsx
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

fix(admin): 恢复日志详情展开显示 token 与路由信息
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

fix(admin): 恢复日志详情展开显示 token 与路由信息 (#74)
  src/components/admin/logs-table.tsx
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

ci: 让工作流变更也触发 Test
  .github/workflows/test.yml
Due: none

fix(dev): redact recorder headers and stabilize tests
  package.json
  pnpm-lock.yaml
  scripts/seed-lite.ts
  src/app/api/mock/[...path]/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/db/index.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
  src/lib/services/traffic-recorder.ts
  src/lib/utils/config.ts
  tests/setup.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/traffic-recorder.test.ts
Due: prettier, eslint, tsc

fix: resolve PR #75 blocking issues
  package.json
  pnpm-lock.yaml
  scripts/seed-lite.ts
  src/app/api/mock/[...path]/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/token-display.tsx
  src/lib/services/traffic-recorder.ts
  src/lib/utils/config.ts
  tests/unit/services/traffic-recorder.test.ts
Due: prettier, eslint, tsc

fix: format schema-sqlite and proxy route test for CI consistency
  src/lib/db/schema-sqlite.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

refactor: extract recorder logic and improve dev experience
  .env.example
  package.json
  pnpm-lock.yaml
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/db/index.ts
  src/lib/services/traffic-recorder.ts
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (node_modules|\.next|drizzle)/
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
