Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

tsc:
  name: tsc
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

feat(ui): enhance Cassette Futurism design with CRT effects
  src/app/[locale]/(auth)/login/page.tsx
  src/app/globals.css
  src/components/admin/sidebar.tsx
  src/components/dashboard/stats-cards.tsx
Due: prettier, eslint, tsc

fix: remove redundant Radix UI sub-dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat: integrate Vibe Kanban Web Companion for development (Vibe Kanban) (#52)
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/providers/vibe-kanban-provider.tsx
Due: prettier, eslint, tsc

fix(ci): allow repository_dispatch events to bypass bot filter
  .github/workflows/code-argus.yml
Due: none

fix(ci): allow bots in codex-action for repository_dispatch events
  .github/workflows/code-argus.yml
Due: none

fix(ci): add pull-requests:write permission for PR comment reactions
  .github/workflows/code-argus-comment.yml
Due: none

fix(ci): use env vars to safely pass JSON output in save results step
  .github/workflows/code-argus.yml
Due: none

refactor(ci): merge publish job into review workflow
  .github/workflows/code-argus-publish.yml
  .github/workflows/code-argus.yml
Due: none

feat(ci): add auggie MCP support to code-argus review
  .github/workflows/code-argus.yml
Due: none

chore: ignore next-env.d.ts per Next.js 16 official recommendation
  .gitignore
  next-env.d.ts
Due: prettier, tsc

feat(ui): enhance Cassette Futurism design with advanced CRT effects (Vibe Kanban) (#53)
  src/app/[locale]/(auth)/login/page.tsx
  src/app/globals.css
  src/components/admin/sidebar.tsx
  src/components/dashboard/stats-cards.tsx
Due: prettier, eslint, tsc

fix(ci): only publish review results when review succeeds
  .github/workflows/code-argus.yml
Due: none

fix(ci): resolve lint issues and strengthen PR checks
  .github/workflows/lint.yml
  src/app/[locale]/(auth)/login/page.tsx
Due: prettier, eslint, tsc

fix(ci): align local and CI formatting checks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

refactor: clean up all ESLint warnings (18 → 0)
  eslint.config.mjs
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/layout.tsx
  src/components/dashboard/usage-chart.tsx
  src/lib/services/key-manager.ts
  src/lib/services/proxy-client.ts
  src/lib/services/upstream-service.ts
  tests/unit/utils/auth.test.ts
Due: prettier, eslint, tsc

auto-claude: 1.1 - Add ApiKeyUpdateInput interface with optional fields
  src/lib/services/key-manager.ts
Due: prettier, eslint, tsc

auto-claude: 1.2 - Create updateApiKey(keyId, input) function following updateUpstream pattern
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  .gitignore
  src/lib/services/key-manager.ts
Due: prettier, eslint, tsc

auto-claude: 1.3 - Handle upstream permissions update with validation
  .auto-claude-status
Due: none

auto-claude: 2.1 - Create updateApiKeySchema with optional fields matching ApiKeyUpdateInput
  src/app/api/admin/keys/[id]/route.ts
Due: prettier, eslint, tsc

auto-claude: 2.2 - Add PUT function with admin auth, parse request bo
  .auto-claude-status
  src/app/api/admin/keys/[id]/route.ts
Due: prettier, eslint, tsc

auto-claude: 2.3 - Verify error handling implementation
  .auto-claude-status
Due: none

auto-claude: 3.1 - Add APIKeyUpdate interface to types/api.ts
  src/types/api.ts
Due: prettier, eslint, tsc

auto-claude: 4.1 - Add mutation hook following useUpdateUpstream patt
  src/hooks/use-api-keys.ts
Due: prettier, eslint, tsc

auto-claude: 5.1 - Create edit-key-dialog component following upstream-form-dialog pattern
  src/components/admin/edit-key-dialog.tsx
Due: prettier, eslint, tsc

auto-claude: 5.2 - Extract shared logic into edit-key-dialog and make
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  src/components/admin/create-key-dialog.tsx
  src/components/admin/key-form-dialog.tsx
Due: prettier, eslint, tsc

auto-claude: 5.3 - Add Edit icon button in actions column, handle edit state and dialog opening
  src/app/[locale]/(dashboard)/keys/page.tsx
  src/components/admin/keys-table.tsx
Due: prettier, eslint, tsc

auto-claude: 6.1 - Add keys: editKey, editKeyTitle, editKeyDesc, updateSuccess, updateFailed, updating to keys section
  src/messages/en.json
Due: prettier

auto-claude: 6.2 - Add Chinese translations for all keys added in en.json
  src/messages/zh-CN.json
Due: prettier

auto-claude: 7.1 - Unit tests covering: successful update of each field, name uniqueness validation, upstream permissions update, non-existent key error, invalid upstream IDs error
  .auto-claude-security.json
  .auto-claude-status
  tests/unit/services/key-manager.test.ts
Due: prettier, tsc

auto-claude: 1.1 - Research lightweight API endpoints for OpenAI and Anthropic
  .gitignore
Due: none

auto-claude: 1.2 - Define the interface and error handling strategy for test connection function
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  src/lib/services/upstream-service.ts
Due: prettier, eslint, tsc

auto-claude: 2.1 - Implement testUpstreamConnection function
  .auto-claude-status
  src/lib/services/upstream-service.ts
Due: prettier, eslint, tsc

auto-claude: 2.2 - Provider-specific test logic already implemented
  .auto-claude-status
Due: none

auto-claude: 3.1 - Create a new API route at /api/admin/upstreams/test
  src/app/api/admin/upstreams/test/route.ts
Due: prettier, eslint, tsc

auto-claude: 3.2 - Create API route at /api/admin/upstreams/[id]/test
  .auto-claude-security.json
  .auto-claude-status
  src/app/api/admin/upstreams/[id]/test/route.ts
  src/lib/services/upstream-service.ts
Due: prettier, eslint, tsc

auto-claude: 4.1 - Create comprehensive unit tests for testUpstreamConnection
  tests/unit/services/upstream-service.test.ts
Due: prettier, tsc

auto-claude: 4.2 - Create tests for both test endpoints: test endpoin
  .auto-claude-status
  tests/unit/api/admin/upstreams/test.test.ts
Due: prettier, tsc

auto-claude: 4.3 - Run the full test suite with pnpm test:run to ensu
  .auto-claude-status
Due: none

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (node_modules|\.next|drizzle)/
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
