Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

tsc:
  name: tsc
  entry: pnpm exec tsc --noEmit
  language: system
  pass_filenames: false

refine: remove extra usage chart toggle ring
  src/components/dashboard/usage-chart.tsx
Due: prettier, eslint, tsc

refine: trim dashboard chart labels
  src/components/dashboard/stats-cards.tsx
  src/components/dashboard/usage-chart.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/dashboard/stats-cards.test.tsx
  tests/components/dashboard/usage-chart.test.tsx
Due: prettier, eslint, tsc

fix: guard dashboard total series transformer
  src/lib/utils/api-transformers.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier

refine: update pre-commit config to exclude .gemini files
  .pre-commit-config.yaml
Due: none

docs: 去掉gsd相关文档
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier

test: keep mocked billing logs within the default time range
  tests/e2e/billing-tier-flow.spec.ts
Due: prettier, tsc

docs(openspec): add proposal for upstream model discovery rules
  openspec/changes/add-upstream-model-discovery-rules/proposal.md
Due: prettier

docs(openspec): add design for upstream model discovery rules
  openspec/changes/add-upstream-model-discovery-rules/design.md
Due: prettier

docs(openspec): add upstream model discovery capability specs
  openspec/changes/add-upstream-model-discovery-rules/specs/upstream-model-allow-rules/spec.md
  openspec/changes/add-upstream-model-discovery-rules/specs/upstream-model-discovery/spec.md
Due: prettier

docs(openspec): update upstream workbench and routing specs
  openspec/changes/add-upstream-model-discovery-rules/specs/upstream-operations-workbench/spec.md
  openspec/changes/add-upstream-model-discovery-rules/specs/upstream-route-capabilities/spec.md
Due: prettier

docs(openspec): add implementation tasks for upstream model discovery rules
  openspec/changes/add-upstream-model-discovery-rules/tasks.md
Due: prettier

docs(openspec): add change metadata for upstream model discovery rules
  openspec/changes/add-upstream-model-discovery-rules/.openspec.yaml
Due: none

feat: add upstream model rules compatibility helpers
  src/lib/services/upstream-model-rules.ts
  tests/unit/services/upstream-model-rules.test.ts
Due: prettier, eslint, tsc

refactor: share legacy model routing helpers
  src/lib/services/model-router.ts
  src/lib/services/upstream-model-rules.ts
  tests/unit/services/model-router.test.ts
Due: prettier, eslint, tsc

feat: add upstream model discovery contracts
  drizzle-sqlite/0004_gorgeous_harpoon.sql
  drizzle-sqlite/meta/0004_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0026_little_joystick.sql
  drizzle/meta/0026_snapshot.json
  drizzle/meta/_journal.json
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-model-rules.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/unit/api/admin/upstreams/crud.test.ts
  tests/unit/services/upstream-crud.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat: add upstream model discovery service
  src/lib/services/upstream-model-discovery.ts
  src/lib/services/upstream-service.ts
  tests/unit/services/upstream-model-discovery.test.ts
Due: prettier, eslint, tsc

feat: add upstream catalog admin actions
  openspec/changes/add-upstream-model-discovery-rules/tasks.md
  src/app/api/admin/upstreams/[id]/catalog/import/route.ts
  src/app/api/admin/upstreams/[id]/catalog/refresh/route.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-service.ts
  tests/unit/api/admin/upstreams/catalog.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

feat: add upstream model discovery workbench UI
  openspec/changes/add-upstream-model-discovery-rules/tasks.md
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/hooks/use-upstreams.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
  tests/unit/hooks/use-upstreams.test.ts
Due: prettier, eslint, tsc

feat: enforce upstream model rule filtering
  openspec/changes/add-upstream-model-discovery-rules/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/lib/services/load-balancer.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

fix: preserve API-root paths for upstream model discovery
  openspec/changes/add-upstream-model-discovery-rules/tasks.md
  src/lib/services/upstream-connection-tester.ts
  src/lib/services/upstream-model-discovery.ts
  tests/unit/services/upstream-connection-tester.test.ts
  tests/unit/services/upstream-model-discovery.test.ts
Due: prettier, eslint, tsc

fix: infer legacy discovery config for admin upstream reads
  src/lib/services/upstream-crud.ts
  tests/unit/api/admin/upstreams/catalog.test.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

feat: refine upstream model routing workspace layout
  src/components/admin/upstream-form-dialog.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, eslint, tsc

feat: stack upstream model routing panels
  src/components/admin/upstream-form-dialog.tsx
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, eslint, tsc

fix: add postgres catalog failure timestamp migration
  drizzle/0027_brown_patriot.sql
  drizzle/meta/0027_snapshot.json
  drizzle/meta/_journal.json
  src/lib/db/schema-pg.ts
Due: prettier, eslint, tsc

fix: add sqlite catalog failure timestamp migration
  drizzle-sqlite/0005_stiff_doctor_strange.sql
  drizzle-sqlite/meta/0005_snapshot.json
  drizzle-sqlite/meta/_journal.json
  src/lib/db/schema-sqlite.ts
Due: prettier, eslint, tsc

fix: capture upstream catalog failure timestamps
  src/lib/services/upstream-model-discovery.ts
  tests/unit/services/upstream-model-discovery.test.ts
Due: prettier, eslint, tsc

fix: persist upstream catalog failure metadata
  src/lib/services/upstream-crud.ts
  tests/unit/services/upstream-crud.test.ts
Due: prettier, eslint, tsc

fix: expose upstream catalog failure timestamps
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

fix: return failure timestamps from catalog refresh
  src/app/api/admin/upstreams/[id]/catalog/refresh/route.ts
  tests/unit/api/admin/upstreams/catalog.test.ts
Due: prettier, eslint, tsc

fix: clarify upstream discovery dialog state
  src/components/admin/upstream-form-dialog.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, eslint, tsc

fix: apply resolved alias models before proxy forwarding
  src/app/api/proxy/v1/[...path]/route.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

fix: drop stale content-length from forwarded requests
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

spec: archive upstream model discovery rules
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/.openspec.yaml
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/design.md
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/proposal.md
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/specs/upstream-model-allow-rules/spec.md
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/specs/upstream-model-discovery/spec.md
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/specs/upstream-operations-workbench/spec.md
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/specs/upstream-route-capabilities/spec.md
  openspec/changes/archive/2026-04-12-add-upstream-model-discovery-rules/tasks.md
  openspec/specs/upstream-model-allow-rules/spec.md
  openspec/specs/upstream-model-discovery/spec.md
  openspec/specs/upstream-operations-workbench/spec.md
  openspec/specs/upstream-route-capabilities/spec.md
Due: prettier

fix: add sqlite migration runner for upstream health
  CLAUDE.md
  README.md
  README_EN.md
  package.json
  scripts/ci/check-drizzle-consistency.mjs
  scripts/db/migrate-sqlite.mjs
  src/lib/api.ts
  tests/unit/lib/api.test.ts
Due: prettier, eslint, tsc

docs: add issue 110 upstream model discovery change
  openspec/changes/issue-110-upstream-model-discovery-rules/.openspec.yaml
  openspec/changes/issue-110-upstream-model-discovery-rules/design.md
  openspec/changes/issue-110-upstream-model-discovery-rules/proposal.md
  openspec/changes/issue-110-upstream-model-discovery-rules/specs/path-based-routing/spec.md
  openspec/changes/issue-110-upstream-model-discovery-rules/specs/upstream-endpoint-experience/spec.md
  openspec/changes/issue-110-upstream-model-discovery-rules/specs/upstream-model-allow-rules/spec.md
  openspec/changes/issue-110-upstream-model-discovery-rules/specs/upstream-model-discovery/spec.md
  openspec/changes/issue-110-upstream-model-discovery-rules/specs/upstream-operations-workbench/spec.md
  openspec/changes/issue-110-upstream-model-discovery-rules/tasks.md
Due: prettier

test: sync upstream discovery connection assertions
  src/lib/services/upstream-connection-tester.ts
  tests/unit/api/admin/upstreams/test.test.ts
  tests/unit/services/upstream-service.test.ts
Due: prettier, eslint, tsc

test: raise coverage for upstream model rules
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/services/upstream-crud.test.ts
  tests/unit/services/upstream-model-discovery.test.ts
  tests/unit/services/upstream-model-rules.test.ts
Due: prettier, tsc

fix: harden upstream discovery and rule validation
  scripts/db/migrate-sqlite.mjs
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-model-discovery.ts
  src/lib/services/upstream-model-rules.ts
  src/lib/services/upstream-service.ts
  tests/unit/api/admin/upstreams/crud.test.ts
  tests/unit/scripts/migrate-sqlite.test.ts
  tests/unit/services/upstream-connection-tester.test.ts
  tests/unit/services/upstream-crud.test.ts
  tests/unit/services/upstream-model-discovery.test.ts
  tests/unit/services/upstream-model-rules.test.ts
Due: prettier, eslint, tsc

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|json|md)$, but not: (node_modules|\.next|drizzle)/
  eslint: any of: ^src/.*\.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
