Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

ui: stabilize upstreams table column widths
  src/components/admin/upstreams-table.tsx
Due: prettier, eslint, tsc

chore(openspec): remove old change docs
  openspec/changes/refactor-api-key-viewable-storage/proposal.md
  openspec/changes/refactor-api-key-viewable-storage/tasks.md
  openspec/config.yaml
Due: prettier

chore(openspec): verify enhance-logs-upstream-routing
  openspec/changes/enhance-logs-upstream-routing/tasks.md
Due: prettier

chore(openspec): complete auto-route-by-model
  openspec/changes/auto-route-by-model/tasks.md
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

chore(openspec): remove sticky session from optimize-failover
  openspec/changes/optimize-failover/tasks.md
Due: prettier

chore(openspec): complete optimize-failover
  openspec/changes/optimize-failover/tasks.md
Due: prettier

ui(upstreams): add CMD action bar and improve mobile card layout
  src/components/admin/upstreams-table.tsx
Due: prettier, eslint, tsc

fix(proxy): preserve client auth header format and filter x-forwarded-* headers
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

chore(openspec): add session-affinity change artifacts
  openspec/changes/session-affinity/.openspec.yaml
  openspec/changes/session-affinity/design.md
  openspec/changes/session-affinity/proposal.md
  openspec/changes/session-affinity/specs/affinity-migration/spec.md
  openspec/changes/session-affinity/specs/session-affinity/spec.md
  openspec/changes/session-affinity/tasks.md
Due: prettier

feat(session-affinity): implement session-to-upstream binding with smart migration
  drizzle/0009_illegal_vargas.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/session-affinity/tasks.md
  package.json
  pnpm-lock.yaml
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/components/ui/switch.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/load-balancer.ts
  src/lib/services/session-affinity.ts
  src/lib/services/upstream-crud.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/session-affinity.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

fix(proxy): preserve client auth header casing
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

test: stabilize responsive UI and proxy route tests
  tests/components/upstreams-table.test.tsx
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

chore(openspec): add routing-decision-visualization change artifacts
  openspec/changes/routing-decision-visualization/.openspec.yaml
  openspec/changes/routing-decision-visualization/design.md
  openspec/changes/routing-decision-visualization/proposal.md
  openspec/changes/routing-decision-visualization/specs/backend-affinity-logging/spec.md
  openspec/changes/routing-decision-visualization/specs/decision-timeline-display/spec.md
  openspec/changes/routing-decision-visualization/specs/retry-visualization/spec.md
  openspec/changes/routing-decision-visualization/tasks.md
  openspec/config.yaml
Due: prettier

feat(routing-decision): implement 5-stage timeline with session affinity visualization
  drizzle/0010_mysterious_menace.sql
  drizzle/meta/0010_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/routing-decision-visualization/tasks.md
  openspec/config.yaml
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/services/request-logger.ts
  src/lib/utils/api-transformers.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

chore(openspec): mark task 9.4 as completed
  openspec/changes/routing-decision-visualization/tasks.md
Due: prettier

fix: remove destructive migration and respect excludeIds in affinity selection
  drizzle/0009_illegal_vargas.sql
  src/lib/services/load-balancer.ts
Due: prettier, eslint, tsc

style(timeline): use CSS circle badge for stage numbers
  src/components/admin/routing-decision-timeline.tsx
Due: prettier, eslint, tsc

fix: address PR review issues - migration, excludeIds, max TTL
  drizzle/0010_mysterious_menace.sql
  drizzle/meta/0010_snapshot.json
  drizzle/meta/_journal.json
  src/lib/services/load-balancer.ts
  src/lib/services/session-affinity.ts
  tests/unit/services/session-affinity.test.ts
Due: prettier, eslint, tsc

fix(drizzle): remove orphaned 0009_snapshot.json
  drizzle/meta/0009_snapshot.json
Due: none

fix(ui): remove duplicate ellipsis in retry hidden attempts
  src/components/admin/routing-decision-timeline.tsx
Due: prettier, eslint, tsc

fix: address PR review - snapshot drift, token double-count, invalid content-length
  drizzle/meta/0010_snapshot.json
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/session-affinity.ts
  tests/unit/services/load-balancer.test.ts
  tests/unit/services/session-affinity.test.ts
Due: prettier, eslint, tsc

fix: filter circuit-broken upstreams from migration, safe content-length parse, neutral timeline text
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/load-balancer.ts
  src/messages/en.json
  src/messages/zh-CN.json
Due: prettier, eslint, tsc

fix: correct affinityHit on fallback reselect, harden session_id extraction
  src/lib/services/load-balancer.ts
  src/lib/services/session-affinity.ts
  tests/unit/services/load-balancer.test.ts
Due: prettier, eslint, tsc

fix: failover backward compat, upstream_name fallback, test selector
  src/components/admin/routing-decision-timeline.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

fix: add capacity limit to affinity store, harden updateCumulativeTokens
  src/lib/services/session-affinity.ts
Due: prettier, eslint, tsc

fix: validate model type, neutral color for null status_code
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/routing-decision-timeline.tsx
Due: prettier, eslint, tsc

fix: precise Anthropic token dedup via rawInputTokens, broaden sessionId regex
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/request-logger.ts
  src/lib/services/session-affinity.ts
  tests/unit/services/request-logger.test.ts
Due: prettier, eslint, tsc

fix(proxy-recorder): capture failover failures without blocking retries
  .env.example
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/request-logger.ts
  src/lib/services/traffic-recorder.ts
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/traffic-recorder.test.ts
Due: prettier, eslint, tsc

feat(recorder): add RECORDER_MODE for success/failure/all
  .env.example
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/traffic-recorder.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/traffic-recorder.test.ts
Due: prettier, eslint, tsc

fix(proxy-client): preserve cf-aig-authorization while filtering edge headers
  src/lib/services/proxy-client.ts
  tests/unit/services/proxy-client.test.ts
Due: prettier, eslint, tsc

feat: improve proxy diagnostics and observability
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/routing-decision-timeline.tsx
  src/lib/services/load-balancer.ts
  src/lib/services/traffic-recorder.ts
  src/lib/services/unified-error.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/traffic-recorder.test.ts
  tests/unit/services/unified-error.test.ts
Due: prettier, eslint, tsc

chore: enable recorder env vars in deploy
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

feat: improve no-upstream diagnostics and add e2e coverage
  .gitignore
  package.json
  playwright.e2e.config.ts
  pnpm-lock.yaml
  src/app/api/proxy/v1/[...path]/route.ts
  src/components/admin/routing-decision-timeline.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/admin/routing-decision-timeline.test.tsx
  tests/e2e/logs-routing-decision.spec.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

feat: implement responsive navigation with unified interaction
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(dashboard)/layout.tsx
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/components/admin/sidebar.tsx
  src/components/admin/topbar.tsx
  src/components/language-switcher.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/theme-toggle.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/sidebar.test.tsx
  tests/components/topbar.test.tsx
Due: prettier, eslint, tsc

chore: remove vibe kanban dependency and provider
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/providers/vibe-kanban-provider.tsx
Due: prettier, eslint, tsc

chore: update opsx
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/bulk-archive.md
  .claude/commands/opsx/continue.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/new.md
  .claude/commands/opsx/onboard.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/verify.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-bulk-archive-change/SKILL.md
  .codex/skills/openspec-continue-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-ff-change/SKILL.md
  .codex/skills/openspec-new-change/SKILL.md
  .codex/skills/openspec-onboard/SKILL.md
  .codex/skills/openspec-propose/SKILL.md
  .codex/skills/openspec-sync-specs/SKILL.md
  .codex/skills/openspec-verify-change/SKILL.md
Due: prettier

feat(ui): rebuild visual foundation and core component contracts
  openspec/changes/frontend-visual-rebuild/.openspec.yaml
  openspec/changes/frontend-visual-rebuild/design.md
  openspec/changes/frontend-visual-rebuild/proposal.md
  openspec/changes/frontend-visual-rebuild/specs/admin-console-layout-v2/spec.md
  openspec/changes/frontend-visual-rebuild/specs/data-display-and-interaction-v2/spec.md
  openspec/changes/frontend-visual-rebuild/specs/frontend-visual-foundation-v2/spec.md
  openspec/changes/frontend-visual-rebuild/tasks.md
  src/app/globals.css
  src/app/layout.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/table.tsx
  src/components/ui/theme-toggle.tsx
  src/lib/utils.ts
  src/providers/theme-provider.tsx
  tailwind.config.ts
Due: prettier, eslint, tsc

feat(ui): rebuild admin shell layout and navigation
  openspec/changes/frontend-visual-rebuild/tasks.md
  src/app/[locale]/(dashboard)/layout.tsx
  src/app/[locale]/layout.tsx
  src/components/admin/sidebar.tsx
  src/components/admin/topbar.tsx
Due: prettier, eslint, tsc
