Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

fix: tighten upstream discovery edge cases
  src/lib/services/upstream-connection-tester.ts
  src/lib/services/upstream-crud.ts
  src/lib/services/upstream-model-discovery.ts
  tests/unit/services/upstream-connection-tester.test.ts
  tests/unit/services/upstream-crud.test.ts
  tests/unit/services/upstream-model-discovery.test.ts
Due: prettier, eslint, tsc

fix: add spacing above model rule list
  src/components/admin/upstream-form-dialog.tsx
Due: prettier, eslint, tsc

test: finish issue 110 verification and spec sync
  openspec/changes/issue-110-upstream-model-discovery-rules/tasks.md
  openspec/specs/path-based-routing/spec.md
  openspec/specs/upstream-endpoint-experience/spec.md
  openspec/specs/upstream-model-allow-rules/spec.md
  openspec/specs/upstream-model-discovery/spec.md
  openspec/specs/upstream-operations-workbench/spec.md
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/api/proxy/route.test.ts
Due: prettier, tsc

ci: automate release proxy verification
  .github/workflows/deploy-personal.yml
  .github/workflows/verify.yml
  package.json
  scripts/ci/proxy-stability-check.mjs
Due: prettier

docs: propose upstream queue admission change
  openspec/changes/upstream-queue-admission/.openspec.yaml
  openspec/changes/upstream-queue-admission/design.md
  openspec/changes/upstream-queue-admission/proposal.md
  openspec/changes/upstream-queue-admission/specs/routing-failover-observability/spec.md
  openspec/changes/upstream-queue-admission/specs/upstream-concurrency-control/spec.md
  openspec/changes/upstream-queue-admission/specs/upstream-queue-admission/spec.md
  openspec/changes/upstream-queue-admission/tasks.md
Due: prettier

feat: add upstream queue policy schema
  drizzle-sqlite/0005_cloudy_mesmero.sql
  drizzle-sqlite/meta/0005_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0027_stiff_skaar.sql
  drizzle/meta/0027_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/upstream-queue-admission/tasks.md
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  tests/unit/lib/schema.test.ts
  tests/unit/scripts/migrate-sqlite.test.ts
Due: prettier, eslint, tsc

feat: add upstream queue policy api contract
  openspec/changes/upstream-queue-admission/tasks.md
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/lib/services/upstream-crud.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/unit/api/admin/upstreams/crud.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat: normalize upstream queue policy form state
  openspec/changes/upstream-queue-admission/tasks.md
  src/components/admin/upstream-form-dialog.tsx
  tests/components/upstream-form-dialog.test.tsx
Due: prettier, eslint, tsc

feat: add upstream queue admission service
  openspec/changes/upstream-queue-admission/tasks.md
  src/lib/services/upstream-queue-admission.ts
  tests/unit/services/upstream-queue-admission.test.ts
Due: prettier, eslint, tsc

feat: expose waitable upstream selection target
  openspec/changes/upstream-queue-admission/tasks.md
  src/lib/services/load-balancer.ts
  tests/unit/services/load-balancer.test.ts
Due: prettier, eslint, tsc

feat: handle queue wait timeout and abort
  openspec/changes/upstream-queue-admission/tasks.md
  src/lib/services/upstream-queue-admission.ts
  tests/unit/services/upstream-queue-admission.test.ts
Due: prettier, eslint, tsc

feat: validate resumed queued upstream before reselect
  openspec/changes/upstream-queue-admission/tasks.md
  src/lib/services/load-balancer.ts
  tests/unit/services/load-balancer.test.ts
Due: prettier, eslint, tsc

feat: queue saturated proxy requests before retry
  openspec/changes/upstream-queue-admission/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/load-balancer.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

feat: distinguish queue wait timeout failures
  openspec/changes/upstream-queue-admission/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/lib/services/unified-error.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/services/unified-error.test.ts
Due: prettier, eslint, tsc

feat: unify upstream reservation release paths
  openspec/changes/upstream-queue-admission/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  tests/unit/api/proxy/route.test.ts
Due: prettier, eslint, tsc

feat: record queue lifecycle in routing logs
  openspec/changes/upstream-queue-admission/tasks.md
  src/app/api/proxy/v1/[...path]/route.ts
  src/types/api.ts
  tests/unit/api/proxy/route.test.ts
  tests/unit/utils/api-transformers.test.ts
Due: prettier, eslint, tsc

feat: expose queue policy in upstream admin forms
  openspec/changes/upstream-queue-admission/tasks.md
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
Due: prettier, eslint, tsc

feat: add queue lifecycle log diagnostics
  openspec/changes/upstream-queue-admission/tasks.md
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

test: cover queue admission handoff after abort
  openspec/changes/upstream-queue-admission/tasks.md
  tests/unit/services/upstream-queue-admission.test.ts
Due: prettier, tsc

test: finalize queue admission route and admin coverage
  openspec/changes/upstream-queue-admission/tasks.md
Due: prettier

chore: mark queue admission verification complete
  openspec/changes/upstream-queue-admission/tasks.md
Due: prettier

chore: reset next dev cache before startup
  package.json
  scripts/dev/reset-next-dev-cache.mjs
Due: prettier

chore: self-host app fonts locally
  src/app/fonts/jetbrains-mono-latin-wght-normal.woff2
  src/app/fonts/manrope-latin-wght-normal.woff2
  src/app/layout.tsx
Due: prettier, eslint, tsc

fix: stabilize dashboard chart containers
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/usage-chart.tsx
  tests/components/dashboard/leaderboard-section.test.tsx
  tests/components/dashboard/usage-chart.test.tsx
Due: prettier, eslint, tsc

docs: propose background catalog sync
  openspec/changes/background-catalog-sync/.openspec.yaml
  openspec/changes/background-catalog-sync/design.md
  openspec/changes/background-catalog-sync/proposal.md
  openspec/changes/background-catalog-sync/specs/background-sync-tasks/spec.md
  openspec/changes/background-catalog-sync/specs/billing-price-catalog/spec.md
  openspec/changes/background-catalog-sync/specs/upstream-model-discovery/spec.md
  openspec/changes/background-catalog-sync/tasks.md
Due: prettier

feat: add background sync task tables
  drizzle-sqlite/0006_dapper_bucky.sql
  drizzle-sqlite/meta/0006_snapshot.json
  drizzle-sqlite/meta/_journal.json
  drizzle/0028_tranquil_captain_midlands.sql
  drizzle/meta/0028_snapshot.json
  drizzle/meta/_journal.json
  openspec/changes/background-catalog-sync/tasks.md
  src/lib/db/schema-pg.ts
  src/lib/db/schema-sqlite.ts
  src/lib/db/schema.ts
Due: prettier, eslint, tsc

feat: default model catalog auto refresh off
  openspec/changes/background-catalog-sync/tasks.md
  src/app/api/admin/upstreams/[id]/route.ts
  src/app/api/admin/upstreams/route.ts
  src/app/api/admin/upstreams/test/route.ts
  src/components/admin/upstream-form-dialog.tsx
  src/lib/services/upstream-model-types.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/services/upstream-crud.test.ts
  tests/unit/services/upstream-model-discovery.test.ts
Due: prettier, eslint, tsc

feat: add background sync config
  openspec/changes/background-catalog-sync/tasks.md
  src/lib/utils/config.ts
  tests/unit/utils/config.test.ts
Due: prettier, eslint, tsc

test: cover background sync config schema
  openspec/changes/background-catalog-sync/tasks.md
  tests/unit/lib/schema.test.ts
Due: prettier, tsc

feat: add background sync scheduler
  openspec/changes/background-catalog-sync/tasks.md
  src/instrumentation.ts
  src/lib/services/background-sync-registry.ts
  src/lib/services/background-sync-scheduler.ts
  src/lib/services/background-sync-store.ts
  src/lib/services/background-sync-types.ts
  src/lib/services/background-sync.ts
  tests/unit/services/background-sync-scheduler.test.ts
Due: prettier, eslint, tsc

feat: add billing catalog background sync
  openspec/changes/background-catalog-sync/tasks.md
  src/app/api/admin/billing/prices/sync/route.ts
  src/lib/services/background-sync-registry.ts
  src/lib/services/billing-price-background-sync.ts
  tests/unit/api/admin/billing/prices/sync/route.test.ts
  tests/unit/services/billing-price-background-sync.test.ts
Due: prettier, eslint, tsc

feat: add model catalog background sync
  openspec/changes/background-catalog-sync/tasks.md
  src/lib/services/background-sync-registry.ts
  src/lib/services/upstream-model-catalog-background-sync.ts
  tests/unit/services/upstream-model-catalog-background-sync.test.ts
Due: prettier, eslint, tsc

feat: add background sync admin api
  openspec/changes/background-catalog-sync/tasks.md
  src/app/api/admin/background-sync/tasks/[taskName]/run/route.ts
  src/app/api/admin/background-sync/tasks/route.ts
  src/lib/utils/api-transformers.ts
  src/types/api.ts
  tests/unit/api/admin/background-sync/tasks.test.ts
Due: prettier, eslint, tsc

feat: add background sync admin panel
  openspec/changes/background-catalog-sync/tasks.md
  src/app/[locale]/(dashboard)/system/background-sync/page.tsx
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/components/admin/background-sync-tasks-panel.tsx
  src/components/admin/sidebar.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/hooks/use-background-sync.ts
  src/hooks/use-billing.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/background-sync-tasks-panel.test.tsx
  tests/components/upstream-form-dialog.test.tsx
  tests/unit/hooks/use-background-sync.test.ts
Due: prettier, eslint, tsc

test: verify background catalog sync
  openspec/changes/background-catalog-sync/tasks.md
Due: prettier

fix: stabilize background sync verification
  src/lib/services/background-sync-scheduler.ts
  tests/components/sidebar.test.tsx
  tests/e2e/billing-tier-flow.spec.ts
  tests/unit/scripts/migrate-sqlite.test.ts
  tests/unit/services/background-sync-scheduler.test.ts
Due: prettier, eslint, tsc

feat: add dynamic background sync configuration
  openspec/changes/background-catalog-sync/design.md
  openspec/changes/background-catalog-sync/proposal.md
  openspec/changes/background-catalog-sync/specs/background-sync-tasks/spec.md
  openspec/changes/background-catalog-sync/tasks.md
  src/app/api/admin/background-sync/tasks/[taskName]/route.ts
  src/app/api/admin/background-sync/tasks/route.ts
  src/components/admin/background-sync-tasks-panel.tsx
  src/hooks/use-background-sync.ts
  src/lib/api.ts
  src/lib/services/background-sync-scheduler.ts
  src/lib/services/background-sync-store.ts
  src/lib/services/background-sync-types.ts
  src/lib/services/billing-price-background-sync.ts
  src/lib/services/upstream-model-catalog-background-sync.ts
  src/lib/utils/config.ts
  src/messages/en.json
  src/messages/zh-CN.json
  src/types/api.ts
  tests/components/background-sync-tasks-panel.test.tsx
  tests/e2e/billing-tier-flow.spec.ts
  tests/unit/api/admin/background-sync/tasks.test.ts
  tests/unit/hooks/use-background-sync.test.ts
  tests/unit/services/background-sync-scheduler.test.ts
  tests/unit/services/billing-price-background-sync.test.ts
  tests/unit/services/upstream-model-catalog-background-sync.test.ts
  tests/unit/utils/config.test.ts
Due: prettier, eslint, tsc

fix: prepare sqlite e2e database before dev server
  playwright.e2e.config.ts
  scripts/db/migrate-sqlite.mjs
  src/lib/db/index.ts
Due: prettier, eslint, tsc

fix: polish background sync task panel layout
  src/components/admin/background-sync-tasks-panel.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/background-sync-tasks-panel.test.tsx
Due: prettier, eslint, tsc
