Repository g1331/AutoRouter: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  # ============================================================
  # 通用检查
  # ============================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # ============================================================
  # TypeScript / Next.js
  # ============================================================
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|css|json|md)$
        exclude: (node_modules|\.next|drizzle)/

      - id: eslint
        name: eslint
        entry: pnpm exec eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$

      - id: tsc
        name: tsc
        entry: pnpm exec tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

feat(fonts): 引入 Saira display 字体建立三字体秩序
  openspec/changes/restyle-ops-console-2/design.md
  openspec/changes/restyle-ops-console-2/tasks.md
  src/app/fonts/README.md
  src/app/fonts/saira-latin-wght-normal.woff2
  src/app/globals.css
  src/app/layout.tsx
Due: prettier, eslint, tsc

refactor(ui): primitives 与框架 chrome 对齐 Ops Console 2.0
  openspec/changes/restyle-ops-console-2/tasks.md
  playwright.e2e.config.ts
  src/app/globals.css
  src/components/admin/live-pulse-bar.tsx
  src/components/layout/app-shell.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/sonner.tsx
  src/components/ui/state-chip.tsx
  src/components/ui/status-led.tsx
  tests/components/state-chip.test.tsx
  tests/components/status-led.test.tsx
Due: prettier, eslint, tsc

feat(dashboard): 图表与 KPI 卡对齐 Ops Console 2.0
  openspec/changes/restyle-ops-console-2/tasks.md
  src/components/dashboard/chart-theme.ts
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/stats-cards.tsx
  src/components/dashboard/time-range-selector.tsx
  src/components/dashboard/usage-chart.tsx
  tests/components/dashboard/stats-cards.test.tsx
  tests/components/dashboard/usage-chart.test.tsx
  tests/e2e/auth-role-routing.spec.ts
  tests/unit/chart-theme.test.ts
Due: prettier, eslint, tsc

feat(dashboard): 新增路由拓扑签名面板
  openspec/changes/restyle-ops-console-2/tasks.md
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/components/dashboard/index.ts
  src/components/dashboard/routing-topology.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/dashboard/routing-topology.test.tsx
  tests/e2e/auth-role-routing.spec.ts
Due: prettier, eslint, tsc

refactor(admin): 状态色三连收敛为 statusTone 工具并清零硬编码色值/圆角
  openspec/changes/restyle-ops-console-2/tasks.md
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/app/[locale]/(dashboard)/system/header-compensation/page.tsx
  src/components/admin/cliproxy-connection-result.tsx
  src/components/admin/cliproxy-instance-logs-panel.tsx
  src/components/admin/cliproxy-oauth-login-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/lifecycle-track.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/components/dashboard/leaderboard-section.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/terminal/status-led.tsx
  src/lib/status-tone.ts
  tests/unit/status-tone.test.ts
Due: prettier, eslint, tsc

refactor(ui): md-sys 令牌迁移至 vr 层并删除 Material 兼容块
  openspec/changes/restyle-ops-console-2/tasks.md
  src/app/globals.css
  src/components/admin/create-key-dialog.tsx
  src/components/admin/delete-upstream-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/revoke-key-dialog.tsx
  src/components/admin/show-key-dialog.tsx
  src/components/admin/test-upstream-dialog.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/portal/portal-key-dialog.tsx
  src/components/ui/calendar.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/components/ui/textarea.tsx
Due: prettier, eslint, tsc

refactor(portal): portal/login/landing 令牌对齐收尾
  openspec/changes/restyle-ops-console-2/tasks.md
  src/app/[locale]/(auth)/login/page.tsx
  src/components/landing/capability-animations.tsx
  src/components/landing/cta-section.tsx
  src/components/landing/landing-page.tsx
Due: prettier, eslint, tsc

test(visual): 视觉/无障碍套件接线 + axe AA 兜底修复
  openspec/changes/restyle-ops-console-2/design.md
  openspec/changes/restyle-ops-console-2/tasks.md
  package.json
  playwright.visual.config.ts
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/app/globals.css
  src/components/admin/sidebar.tsx
  tests/a11y/pages.spec.ts
  tests/support/admin-page-mocks.ts
  tests/unit/design-tokens-contrast.test.ts
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/dashboard-visual-win32.png
  tests/visual/pages.spec.ts-snapshots/keys-visual-win32.png
  tests/visual/pages.spec.ts-snapshots/login-visual-win32.png
  tests/visual/pages.spec.ts-snapshots/upstreams-visual-win32.png
Due: prettier, eslint, tsc

docs(openspec): 勾选任务 9.3 全量验证并注记结果
  openspec/changes/restyle-ops-console-2/tasks.md
Due: prettier

docs(openspec): 勾选任务 9.4 交接注记（PR #223）
  openspec/changes/restyle-ops-console-2/tasks.md
Due: prettier

chore: 收敛 codegraph/intent 工作区的 gitignore 策略
  .codegraph/.gitignore
  .intent/.gitignore
  .intent/config.json
Due: prettier

test: 删除令牌名正则的多余转义（CodeQL js/incomplete-sanitization 误报源）
  tests/unit/design-tokens-contrast.test.ts
Due: prettier, tsc

chore(openspec): 归档 restyle-ops-console-2 变更
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/.openspec.yaml
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/design.md
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/proposal.md
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/specs/data-display-and-interaction-v2/spec.md
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/specs/frontend-visual-foundation-v2/spec.md
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/specs/routing-topology-panel/spec.md
  openspec/changes/archive/2026-07-11-restyle-ops-console-2/tasks.md
  openspec/specs/data-display-and-interaction-v2/spec.md
  openspec/specs/frontend-visual-foundation-v2/spec.md
  openspec/specs/routing-topology-panel/spec.md
Due: prettier

docs(openspec): 新增 restructure-ops-console-pages 变更提案
  openspec/changes/restructure-ops-console-pages/.openspec.yaml
  openspec/changes/restructure-ops-console-pages/design.md
  openspec/changes/restructure-ops-console-pages/proposal.md
  openspec/changes/restructure-ops-console-pages/specs/admin-console-layout-v2/spec.md
  openspec/changes/restructure-ops-console-pages/specs/api-key-management-workbench/spec.md
  openspec/changes/restructure-ops-console-pages/specs/data-display-and-interaction-v2/spec.md
  openspec/changes/restructure-ops-console-pages/specs/frontend-visual-foundation-v2/spec.md
  openspec/changes/restructure-ops-console-pages/specs/upstream-endpoint-experience/spec.md
  openspec/changes/restructure-ops-console-pages/specs/upstream-operations-workbench/spec.md
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

docs(openspec): 修正 status-led 处置——非死代码，删除改期至 B3
  openspec/changes/restructure-ops-console-pages/design.md
  openspec/changes/restructure-ops-console-pages/proposal.md
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

feat(ops-console): 设计统一契约与共享原语（Phase A）
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/app/[locale]/(dashboard)/system/failure-rules/page.tsx
  src/app/[locale]/(dashboard)/system/header-compensation/page.tsx
  src/app/[locale]/(dashboard)/system/users/[id]/page.tsx
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/app/[locale]/(portal)/portal/page.tsx
  src/app/globals.css
  src/components/admin/create-key-dialog.tsx
  src/components/admin/delete-upstream-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/lifecycle-track.tsx
  src/components/admin/live-pulse-bar.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/page-header.tsx
  src/components/admin/page-shell.tsx
  src/components/admin/revoke-key-dialog.tsx
  src/components/admin/routing-decision-timeline.tsx
  src/components/admin/show-key-dialog.tsx
  src/components/admin/test-upstream-dialog.tsx
  src/components/dashboard/index.ts
  src/components/dashboard/stat-card.tsx
  src/components/dashboard/stats-cards.tsx
  src/components/landing/hero-terminal.tsx
  src/components/logs/header-diff-panel.tsx
  src/components/portal/portal-key-dialog.tsx
  src/components/ui/icon-box.tsx
  src/components/ui/terminal/status-led.tsx
  tailwind.config.ts
  tests/components/settings-page.test.tsx
  tests/unit/radius-style-guard.test.ts
Due: prettier, eslint, tsc

feat(ops-console): 补齐 SectionForm 原语、原语组件测试与 header-compensation 骨架归一
  src/app/[locale]/(dashboard)/system/header-compensation/page.tsx
  src/components/admin/section-form.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/icon-box.test.tsx
  tests/components/page-header.test.tsx
  tests/components/page-shell.test.tsx
  tests/components/section-form.test.tsx
  tests/components/stat-card.test.tsx
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase A 任务组并校正三处任务措辞
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

feat(upstreams): useUpstream hook、瘦 create 弹窗与详情页骨架（Phase B1）
  src/app/[locale]/(dashboard)/upstreams/[id]/page.tsx
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/components/admin/create-upstream-dialog.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstream/coerce.ts
  src/components/admin/upstream/endpoint-preview.ts
  src/components/admin/upstream/section-schemas.ts
  src/components/admin/upstream/virtual-catalog-entry-list.tsx
  src/hooks/use-upstreams.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/support/admin-page-mocks.ts
  tests/unit/hooks/use-upstreams.test.ts
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase B1 任务组（随 e3be777 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

feat(upstreams): 13 分区独立表单与分区独立保存（Phase B2）
  src/app/[locale]/(dashboard)/upstreams/[id]/page.tsx
  src/components/admin/upstream/catalog-workspace.ts
  src/components/admin/upstream/form-values.ts
  src/components/admin/upstream/section-payloads.ts
  src/components/admin/upstream/sections/affinity-migration-section.tsx
  src/components/admin/upstream/sections/basic-api-key-section.tsx
  src/components/admin/upstream/sections/basic-diagnostics-section.tsx
  src/components/admin/upstream/sections/basic-name-section.tsx
  src/components/admin/upstream/sections/basic-profile-section.tsx
  src/components/admin/upstream/sections/basic-route-endpoint-section.tsx
  src/components/admin/upstream/sections/billing-multipliers-section.tsx
  src/components/admin/upstream/sections/capacity-control-section.tsx
  src/components/admin/upstream/sections/circuit-breaker-section.tsx
  src/components/admin/upstream/sections/failure-rules-section.tsx
  src/components/admin/upstream/sections/model-routing-section.tsx
  src/components/admin/upstream/sections/priority-weight-section.tsx
  src/components/admin/upstream/sections/spending-quota-section.tsx
  src/hooks/use-upstreams.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/unit/upstream-section-payloads.test.ts
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase B2 任务组（随 fd22de8 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

feat(upstreams): 列表行表化、Test 修复与旧弹窗退役（Phase B3）
  docs/guide/usage/circuit-breaker-config.md
  src/app/[locale]/(dashboard)/upstreams/page.tsx
  src/components/admin/failover-error-type-multi-select.tsx
  src/components/admin/upstream-form-dialog.tsx
  src/components/admin/upstream/catalog-workspace.ts
  src/components/admin/upstream/coerce.ts
  src/components/admin/upstream/endpoint-preview.ts
  src/components/admin/upstream/form-values.ts
  src/components/admin/upstream/section-payloads.ts
  src/components/admin/upstream/sections/basic-diagnostics-section.tsx
  src/components/admin/upstream/sections/model-routing-section.tsx
  src/components/admin/upstream/virtual-catalog-entry-list.tsx
  src/components/admin/upstreams-table.tsx
  src/components/ui/terminal/index.ts
  src/components/ui/terminal/status-led.tsx
  src/types/api.ts
  tests/a11y/pages.spec.ts
  tests/components/ui/terminal/status-led.test.tsx
  tests/components/upstream-form-dialog.test.tsx
  tests/components/upstreams-table.test.tsx
  tests/e2e/upstream-detail.spec.ts
  tests/support/admin-page-mocks.ts
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/login-visual-win32.png
  tests/visual/pages.spec.ts-snapshots/upstream-detail-visual-win32.png
  tests/visual/pages.spec.ts-snapshots/upstreams-visual-win32.png
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase B3 任务组（随 48b8cdc 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

feat(keys): /keys/[id] 详情页、5 分区独立保存与瘦 create（Phase C1）
  src/app/[locale]/(dashboard)/keys/[id]/page.tsx
  src/components/admin/create-key-dialog.tsx
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/key/form-values.ts
  src/components/admin/key/section-payloads.ts
  src/components/admin/key/section-schemas.ts
  src/components/admin/key/sections/access-grants-section.tsx
  src/components/admin/key/sections/basic-section.tsx
  src/components/admin/key/sections/expiry-section.tsx
  src/components/admin/key/sections/model-allowlist-section.tsx
  src/components/admin/key/sections/spending-rules-section.tsx
  src/hooks/use-api-keys.ts
  src/messages/en.json
  src/messages/zh-CN.json
  tests/a11y/pages.spec.ts
  tests/components/create-key-dialog.test.tsx
  tests/e2e/key-detail.spec.ts
  tests/support/admin-page-mocks.ts
  tests/unit/hooks/use-api-keys.test.ts
  tests/unit/key-section-payloads.test.ts
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/key-detail-visual-win32.png
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase C1 任务组并校正 5.4 语义措辞（随 65ec793 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

feat(keys): 列表 Edit 接线详情页并删除 edit-key-dialog（Phase C2）
  src/app/[locale]/(dashboard)/keys/page.tsx
  src/components/admin/create-key-dialog.tsx
  src/components/admin/edit-key-dialog.tsx
  src/components/admin/key-model-allowlist-section.tsx
  src/components/admin/key/sections/model-allowlist-section.tsx
  src/components/admin/keys-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/create-key-dialog.test.tsx
  tests/components/edit-key-dialog.test.tsx
  tests/components/keys-table.test.tsx
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase C2 任务组（随 a976ace 落地；keys 列表基线核实零漂移无需重生成）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

refactor(billing): 拆分 3735 行单体页为组件并统一四路内联编辑（Phase D1）
  src/app/[locale]/(dashboard)/system/billing/page.tsx
  src/components/admin/billing/billing-format.ts
  src/components/admin/billing/billing-logs-card.tsx
  src/components/admin/billing/billing-mobile-tier-list.tsx
  src/components/admin/billing/billing-price-row.tsx
  src/components/admin/billing/billing-summary-cards.tsx
  src/components/admin/billing/billing-tier-sub-table.tsx
  src/components/admin/billing/expand-chevron.tsx
  src/components/admin/billing/override-reset-dialog.tsx
  src/components/admin/billing/price-catalog-section.tsx
  src/components/admin/billing/unresolved-models-section.tsx
  src/components/admin/billing/use-billing-price-row-edit.ts
  tests/a11y/pages.spec.ts
  tests/support/admin-page-mocks.ts
  tests/unit/billing-format.test.ts
  tests/unit/billing-price-row-edit.test.ts
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/billing-visual-win32.png
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase D1 任务组（随 21cf0cf 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

refactor(logs): 抽取 4 个身份/思考组件并修复 3 处既有 a11y 违规（Phase D2）
  src/components/admin/logs-table.tsx
  src/components/logs/model-identity.tsx
  src/components/logs/request-key-identity.tsx
  src/components/logs/thinking-config-panel.tsx
  src/components/logs/truncated-text-tooltip.tsx
  tests/a11y/pages.spec.ts
  tests/components/logs-identity-components.test.tsx
  tests/support/admin-page-mocks.ts
  tests/unit/i18n/logs-identity-labels.test.tsx
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/logs-visual-win32.png
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase D2 任务组（随 2fc6281 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

refactor(logs): 请求生命周期改为药丸指示器 + 常驻详情卡，修复决策面板巨椭圆（Phase D2.5）
  src/components/admin/lifecycle-track.tsx
  src/components/admin/logs-table.tsx
  src/messages/en.json
  src/messages/zh-CN.json
  tests/components/logs-table.test.tsx
Due: prettier, eslint, tsc

fix(e2e): mock 掉展开日志行的 traffic-recordings 探测，根治两条长期 flaky
  tests/e2e/billing-tier-flow.spec.ts
  tests/e2e/logs-routing-decision.spec.ts
Due: prettier, tsc

refactor(admin): dashboard/failure-rules/traffic-recording 对齐共享原语与排印契约（Phase D3）
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/[locale]/(dashboard)/system/failure-rules/page.tsx
  src/app/[locale]/(dashboard)/system/traffic-recording/page.tsx
  src/components/dashboard/leaderboard-section.tsx
  src/components/dashboard/stats-cards.tsx
  tests/a11y/pages.spec.ts
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/settings-visual-win32.png
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase D3 任务组（随 2892346 落地）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

fix(ui): D3 打磨批次——light Switch 对比度修复与五项细节修整
  src/app/globals.css
  src/components/admin/key/sections/expiry-section.tsx
  src/components/admin/logs-table.tsx
  src/components/admin/show-key-dialog.tsx
  src/components/admin/upstreams-table.tsx
  src/components/ui/switch.tsx
Due: prettier, eslint, tsc

docs(openspec): 勾选 Phase D4 任务组（纯验证阶段，零代码改动)
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

docs(openspec): 勾选 Phase E 验证任务（11.1/11.2）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier

docs(openspec): 勾选 11.3——PR #224 已建且 CI 13 项全绿（11.4 归档待合并后执行）
  openspec/changes/restructure-ops-console-pages/tasks.md
Due: prettier
